<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="Author" content="JHCHOI">
  <meta name="Keywords" content="project">
  <meta name="Description" content="project task list">

  <title th:text="${project.getProject().projectName}">OnTrack - Project</title>
  <link rel="icon" type="image/x-icon" href="../../static/imgs/icons8-octaedro-32.png" th:href="@{/imgs/icons8-octaedro-32.png}">
  <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
  <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.6.1/dist/sockjs.min.js"></script>
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/web-socket-js/1.0.0/web_socket.min.js"></script>-->

</head>
<body>

<!-----/* Begin nav */----->
<nav>
  <th:block th:replace="~{/fragments/nav :: nav}"></th:block>
</nav>
<!--/* nav End /*-->

<!--------------/* project 상단 고정 시작 */------------->
<!--/* (display name, title, view tab, search/create task) */-->
<div class="상단고정래퍼 project-fixed-top flex-col-start-nowrap">
  <div class="wrapper flex-row-end-center-nowrap">
    <div class="nickname flex-row-justify-start-align-center">
      <img src="../../static/imgs/pen.png" th:src="@{/imgs/pen.png}" alt="" class="img-15 mr-5 btn-project-nickname">
      <span class="font-18 bold nickname" th:text="${project.nickname}">제임스 서버</span>
    </div>
    <img src="../../static/imgs/icon_leave.png" th:src="@{/imgs/icon_leave.png}" alt="" class="btn-project-out">
  </div><!--/* nickname 끝 */-->
  <div class="proj-title wrapper">
    <h1 th:text="${project.getProject().projectName}">올리 초이의 길</h1>
    <button type="button" class="btn-dDay altivo-bold">D-365</button>
    <div class="btn-open-settings flex-row-justify-start-align-center" data-id="projId01">
      <img src="../../static/imgs/icon_blur_settings.png" th:src="@{/imgs/icon_blur_settings.png}" alt="project settings" class="img-40">
      <!--/* ↓ 프로젝트 설정 버튼 클릭시 나타나는 창 */-->
      <div class="click-proj-setting flex-col-start-nowrap img-hidden">
        <p class="flex-row-justify-start-align-center mb-5 btn-write-notice">
          <span class="ml-7 pd-tb5rl3 c9e3 bold">공지등록</span>
        </p>
        <p class="flex-row-justify-start-align-center btn-open-configure-project">
          <span class="ml-7 pd-tb5rl3 c451 bold">프로젝트 설정</span>
        </p>
      </div> <!--/* 공지등록, 프로젝트 설정 hidden 끝 */-->
    </div> <!--/* 설정 버튼 끝 */-->

  </div> <!--/* 프로젝트 이름, 설정버튼 끝 */-->

  <!--/* Begin tab */-->
  <div class="tab wrapper bottom-line">
    <div class="view-box">
      <button type="button" th:onclick="|location.href='@{|/project/${project.getProject().getId()}?view=table|}'|" id="btn-table-view" data-view="table-view" class="btn-view flex-row-justify-start-align-center" th:classappend="${view == 'table' or view == null}?'btn-view-choosen'"><img src="../../static/imgs/icon_table.png" th:src="@{/imgs/icon_table.png}" alt="list" class="img-19 vertical-ctrl015"><span class="saffran-regular">List</span></button>
      <button type="button" th:onclick="|location.href='@{|/project/${project.getProject().getId()}?view=status|}'|" id="btn-status-view" data-view="status-view" class="btn-view flex-row-justify-start-align-center" th:classappend="${view == 'status'}?'btn-view-choosen'"><img src="../../static/imgs/icon_blur_status.png" th:src="@{/imgs/icon_blur_status.png}" alt="status" class="img-19 vertical-ctrl015"><span class="saffran-regular">Status</span></button>
      <button type="button" th:onclick="|location.href='@{|/project/${project.getProject().getId()}?view=assignee|}'|" id="btn-assignee-view" data-view="assignee-view" class="btn-view flex-row-justify-start-align-center" th:classappend="${view == 'assignee'}?'btn-view-choosen'"><img src="../../static/imgs/icon_blur_assignee.png" th:src="@{/imgs/icon_blur_assignee.png}" alt="assignee" class="img-2418 "><span class="saffran-regular">Assignee</span></button>
      <button type="button" class="btn-delete-task hide" th:if="${project.position == 'creator' or project.position == 'admin'}" th:attr="data-executormid=${project.memberId}">삭제</button>
      <!--        <button type="button" class="hide">일괄변경</button> -->
    </div>

    <div class="search-n-add-task">
      <div class="task-search-box">
        <input type="text" id="" class="task-search-input altivo-light" placeholder="S E A R C H">
        <button type="button" class="btn-search-task" id="btn-search-task">
          <img src="../../static/imgs/icon_blur_search(r).png" th:src="@{/imgs/icon_blur_search(r).png}" alt="search" class="img-15 hide">
          <img src="../../static/imgs/icon_search.png" th:src="@{/imgs/icon_search.png}" alt="search" class="img-20 vertical-ctrl01">
        </button>
      </div>
      <button type="button" id="btn-add-task" class="btn-add-task">+  할 일 추가</button>
    </div>
  </div> <!-- tab Ends -->
</div><!--/* 상단고정래퍼 끝 */-->
<!--------------/* project 상단 고정 끝 */------------->

<!--/* 하위task 불러올 때는 담당자별로 정렬될 수 있도록 하자... */-->
<!--/* 테이블뷰 시작 Table View Starts */-->
<th:block th:replace="~{/fragments/projectView-table :: tableView(tasks=${project.getTaskList()}, memberList=${project.getMemberList()}, myNickname=${project.nickname}, myMid=${project.memberId})}"></th:block>
<!---/* 테이블뷰 끝 Table View Ends */--->

<!-- Status View Starts -->
<th:block th:replace="~{/fragments/projectView-status :: statusView(tasks=${project.getStatusTaskList()}, memberList=${project.getMemberList()}, myNickname=${project.nickname}, myMid=${project.memberId})}"></th:block>
<!-- Status View Ends -->

<!-- Assignee View Starts -->
<th:block th:replace="~{/fragments/projectView-assignee :: assigneeView(assignees=${project.getAssignmentList()}, noAssigneeTasks=${project.getNoAssigneeTasks()}, myNickname=${project.nickname}, myMid=${project.memberId})}"></th:block> <!--, loginMember=${loginMember}-->
<!-- Assignee View Ends -->


<!-- Modal Starts -->

<!-- 모달: 프로젝트 나가기 시작 -->
<div id="modal-leave-project" class="modal-container hide">
  <div class="modal-center400 flex-col-start-center-nowrap">
    <img src="../../static/imgs/alert.png" th:src="@{/imgs/alert.png}" alt="" class="mb-5">
    <div class="flex-row-justify-start-align-center mb-30">
      <span class="font-22 bold project-name-ellipsis mr-3" th:text="${project.getProject().projectName}">현재 프로젝트명</span>
      <span class="font-20 bold">에서 탈퇴하시겠습니까?</span>
    </div>
    <div class="flex-row-center-center-nowrap">
      <button type="button" class="btn-large done font-white mr-10 btn-project-leave">나가기</button>
      <button type="button" class="btn-large done-bg008 btn-close-modal-leave-project">취소</button>
    </div>
  </div>
</div>
<!-- 모달: 프로젝트 나가기 끝 -->

<!-- 모달: 프로젝트 內 개인별명 설정 시작 -->
<div id="modal-configure-nickname" class="modal-container hide">
  <div class="modal-center400 flex-col-start-nowrap">
    <div class="flex-row-end-center-nowrap">
      <button type="button" class="font-24 mb-10 btn-close-modal-configure-nickname">&times;</button>
    </div>
    <div class="flex-row-justify-start-align-center mb-30">
      <span class="font-22 bold project-name-ellipsis mr-3" th:text="${project.getProject().projectName}">{현재 프로젝트명}</span>
      <span class="font-20 bold">에서의 내 이름 설정</span>
    </div>
    <div class="flex-row-justify-start-align-center mb-5 ml-3 mt-5">
      <div class="bottom-line h31 flex-row-end-center-nowrap">
        <input type="text" class="modal-configure-nickname" maxlength="9" placeholder="사용할 이름을 입력하세요">
      </div>
      <button type="button" class="btn-chk-nickname-taken">중복확인</button>
    </div>
    <div class="mb-30 ml-7 flex-col-justify-center">
      <span class="font-14 nickname-ok hide">사용가능한 별칭입니다.</span>
      <span class="font-14 nickname-no mb-3 hide">사용불가능한 별칭입니다.</span>
      <span class="font-12 ">(최소 2글자 ~ 최대 9글자, 특수기호·공백 사용 불가능)</span>
    </div>
    <button type="submit" class="btn-submit-nickname mt-30">설정</button>
  </div>
</div>
<!-- 모달: 프로젝트 內 개인별명 설정 끝 -->

<!-- nav에 menu 중 계정설정은 모달로 제작하자.. -->

<!--/* 모달: 공지 쓰기 */-->
<th:block th:replace="~{fragments/modalNotice :: projectNotice(myMid=${project.memberId})}"></th:block>
<!--/*모달: 공지 쓰기 끝*/-->

<!--/* 모달: 공지 읽기 */-->
<!--<th:blcok th:replace="~{fragments/modalNotice :: readNotice(myMid=${project.memberId})}"></th:blcok>-->
<!--/*모달: 공지 읽기 끝*/-->

<!-- 모달: 프로젝트 설정 시작 -->
<th:block th:replace="~{/fragments/configProject}"></th:block>

<!-- 모달: 프로젝트 설정 끝 -->

<!--/* 모달: 새 할 일 추가 */-->
<!--/* 모달 컨테이너 */-->
<th:block th:replace="~{/fragments/addTaskForm :: addTaskForm(taskFormRequest=${taskFormRequest}, myNickname=${project.nickname}, myMid=${project.memberId}, memberList=${project.getMemberList()}, myPosition=${project.position})}">
</th:block>
<!--/* 모달: 새 할 일 추가 끝 */-->


<!--/* 모달: 할 일 상세 */-->
<!--/* 모달 컨테이너 */-->
<th:block th:replace="~{/fragments/taskDetail :: taskDetail(taskDetail=${taskDetail}, hide=${hide}, myNickname=${project.getNickname()}, myMid=${project.getMemberId()}, myPosition=${project.position})}"></th:block> <!--loginMember=${loginMember}, , taskCommentForm=${taskCommentForm}-->
<!--/* 모달: 할 일 상세 끝 */-->

<!--/*모달: 이미 삭제된 할 일에 대한 접근 경고창 */-->
<div class="alert-task-removed" th:classappend="${taskRemoved == null or !taskRemoved}?'hide'">
  <p class="bold font-20">이미 삭제된 할 일입니다.</p>
  <button class="btn-alert-task-removed">확인</button>
</div>

<!--/*모달: 첨부되지 않은 파일 안내*/-->
<div class="첨부되지않은파일안내경고창컨테이너 alert-not-attach-container hide">
  <div class="첨부되지않음안내문구 mb-10 ">
    <span class="font-20 bold">파일 첨부 실패</span>
  </div>
  <div class="첨부되지않은사유컨테이너 alert-not-attach-list">
    <div class="컬럼헤더 flex-row-justify-start-align-center bottom-line">
      <span class="alert-not-attach-col">파일명</span>
      <span class="alert-not-attach-col">사유</span>
    </div>
    <div class="스크롤범위 alert-not-attach-scroll">
    </div>
  </div>
  <div class="버튼컨테이너 alert-not-attach-btn-box">
    <button type="button" id="btn-alert-not-attach" class="btn-confirm-yes">확인</button>
  </div>
</div>
<!--/* Modal Ends */-->
<!--  <th:block th:replace="~{/fragments/src}"></th:block>-->
<script type="module" src="../../static/js/main.js" th:src="@{/js/main.js}"></script>
</body>
</html>

