<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
 <head th:fragment="header">
  <meta charset="UTF-8">
  <meta name="Author" content="JHCHOI">
  <meta name="Keywords" content="project">
  <meta name="Description" content="project task list">

  <title>MMOM - Project</title>
  <link rel="icon" type="image/x-icon" href="/imgs/icons8-octaedro-32.png">
  <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
  <script src="/js/main.js" th:src="@{/js/main.js}"></script>
 </head>
 <body>

  <!-----/* Begin nav */----->
  <nav>
    <th:block th:replace="~{/fragments/nav :: nav}"></th:block>
  </nav>
  <!--/* nav End /*-->

  <!--------------/* project 상단 고정 시작 */------------->
  <!--/* (display name, title, view tab, search/create task) */-->
  <div class="상단고정래퍼 project-fixed-top flex-col-start-nowrap">
    <div class="wrapper flex-row-end-center-nowrap">
      <div class="nickname flex-row-justify-start-align-center">
        <img src="/imgs/pen.png" alt="" class="img-15 mr-5 btn-project-nickname">
        <span class="font-18 bold nickname" th:text="${nickname}">제임스 서버</span>
      </div>
      <img src="/imgs/icon_leave.png" alt="" class="btn-project-out">
    </div><!--/* nickname 끝 */-->
    <div class="proj-title wrapper">
      <h1 th:text="${project.getProject().projectName}">올리 초이의 길</h1>
      <button type="button" class="btn-dDay altivo-bold">D-365</button>
      <div class="btn-open-settings flex-row-justify-start-align-center" data-id="projId01">
        <img src="/imgs/icon_blur_settings.png" alt="project settings" class="img-40">
        <!--/* ↓ 프로젝트 설정 버튼 클릭시 나타나는 창 */-->
        <div class="click-proj-setting flex-col-start-nowrap img-hidden">
          <p class="flex-row-justify-start-align-center mb-5 btn-write-notice">
            <span class="ml-7 pd-tb5rl3 c9e3 bold">공지등록</span>
          </p>
          <p class="flex-row-justify-start-align-center btn-open-configure-project">
            <span class="ml-7 pd-tb5rl3 c451 bold">프로젝트 설정</span>
          </p>
        </div> <!--/* 공지등록, 프로젝트 설정 hidden 끝 */-->
      </div> <!--/* 설정 버튼 끝 */-->
      
    </div> <!--/* 프로젝트 이름, 설정버튼 끝 */-->

    <!--/* Begin tab */-->
    <div class="tab wrapper bottom-line">
      <div class="view-box">
        <button type="button" id="btn-table-view" data-view="table-view" class="btn-view btn-view-choosen flex-row-justify-start-align-center"><img src="/imgs/icon_table.png" alt="list" class="img-19 vertical-ctrl015"><span class="saffran-regular">List</span></button>
        <button type="button" id="btn-status-view" data-view="status-view" class="btn-view flex-row-justify-start-align-center"><img src="/imgs/icon_blur_status.png" alt="status" class="img-19 vertical-ctrl015"><span class="saffran-regular">Status</span></button>
        <button type="button" id="btn-assignee-view" data-view="assignee-view" class="btn-view flex-row-justify-start-align-center"><img src="/imgs/icon_blur_assignee.png" alt="assignee" class="img-2418 "><span class="saffran-regular">Assignee</span></button>
        <button type="button" class="hide">삭제</button> <!-- 우선순위: 하하하 마지막에 해라 -->
        <button type="button" class="hide">일괄변경</button> <!-- 우선순위: 하하하 마지막에 해라 -->
      </div>

      <div class="search-n-add-task">
        <div class="task-search-box">
          <input type="text" id="" class="task-search-input altivo-light" placeholder="S E A R C H">
          <button type="button" class="btn-search-task" id="btn-search-task">
            <img src="/imgs/icon_blur_search(r).png" alt="search" class="img-15 hide">
            <img src="/imgs/icon_search.png" alt="search" class="img-20 vertical-ctrl01">
          </button>
        </div>
        <button type="button" id="btn-add-task" class="btn-add-task">+  할 일 추가</button>
      </div>
    </div> <!-- tab Ends -->
  </div><!--/* 상단고정래퍼 끝 */-->
  <!--------------/* project 상단 고정 끝 */------------->

  <!--/* 하위task 불러올 때는 담당자별로 정렬될 수 있도록 하자... */-->
  <!--/* 테이블뷰 시작 Table View Starts */-->
  <th:block th:replace="~{/fragments/projectView :: tableView(tasks=${project.getTaskList()})}"></th:block>
  <!---/* 테이블뷰 끝 Table View Ends */--->

  <!-- Status View Starts -->
  <th:block th:replace="~{/fragments/projectView :: statusView}"></th:block>
  <!-- Status View Ends -->


  <!-- Assignee View Starts -->
  <th:block th:replace="~{/fragments/projectView :: assigneeView}"></th:block>
  <!-- Assignee View Ends -->


  <!-- Modal Starts -->

  <!-- 모달: 프로젝트 나가기 시작 -->
  <div id="modal-leave-project" class="modal-container hide">
    <div class="modal-center400 flex-col-start-center-nowrap">
      <img src="/imgs/alert.png" alt="" class="mb-5">
      <div class="flex-row-justify-start-align-center mb-30">
        <span class="font-22 bold project-name-ellipsis mr-3">{현재 프로젝트명}</span>
        <span class="font-20 bold">에서 탈퇴하시겠습니까?</span>
      </div>
      <div class="flex-row-center-center-nowrap">
        <button type="button" class="btn-large done font-white mr-10 btn-project-leave">나가기</button>
        <button type="button" class="btn-large done-bg008 btn-close-modal-leave-project">취소</button>
      </div>
    </div>
  </div>
  <!-- 모달: 프로젝트 나가기 끝 -->
  
  <!-- 모달: 프로젝트 內 개인별명 설정 시작 -->
  <div id="modal-configure-nickname" class="modal-container hide">
    <div class="modal-center400 flex-col-start-nowrap">
      <div class="flex-row-end-center-nowrap">
        <button type="button" class="font-24 mb-10 btn-close-modal-confiture-nickname">&times;</button>
      </div>
      <div class="flex-row-justify-start-align-center mb-30">
        <span class="font-22 bold project-name-ellipsis mr-3">{현재 프로젝트명}</span>
        <span class="font-20 bold">에서의 내 이름 설정</span>
      </div>
      <div class="flex-row-justify-start-align-center mb-5 ml-3 mt-5">
        <div class="bottom-line h31 flex-row-end-center-nowrap">
          <input type="text" class="modal-configure-nickname" maxlength="9" placeholder="사용할 이름을 입력하세요">
        </div>
        <button type="button" class="btn-chk-nickname-double">중복확인</button>
      </div>
      <div class="mb-30 ml-7 flex-col-justify-center">
        <span class="font-14 nickname-ok hide">사용가능한 별칭입니다.</span>
        <span class="font-14 nickname-no mb-3 hide">사용불가능한 별칭입니다.</span>
        <span class="font-12 ">(최소 2글자 ~ 최대 9글자, 특수기호·공백 사용 불가능)</span>
      </div>
      <button type="submit" class="btn-submit-nickname mt-30">설정</button>
    </div>
  </div>
  <!-- 모달: 프로젝트 內 개인별명 설정 끝 -->

  <!-- nav에 menu 중 계정설정은 모달로 제작하자.. -->

  <!-- 모달: 공지읽기 -->
  <!-- 모달 감싸는 컨테이너: 화면 내 다른 모든 요소 blur -->
  <div id="modal-notice-read" class="modal-container hide">
    <!-- 공지읽기 모달 시작 -->
    <div class="modal-Right flex-col-between-nowrap">
      <!-- 내부 1: 닫기버튼, 제목, 작성자&일, 내용, 첨부파일 -->
      <div class="">
        <div class="닫기버튼div flex-row-end-center-nowrap">
          <span class="font-24 cursorP btn-close-modal-notice-read">&times;</span>
        </div> <!-- 상단 닫기 버튼(X) 끝 -->
        <div class="공지제목 flex-row-justify-start-align-center modal-notice-title">
          <img src="/imgs/icon_notice(pin)_s.png" alt="notice" class="ml-3">
          <span class="modal-notice-title ml-7">하얗게 피어난 얼음꽃 하나가</span>
        </div> <!-- 공지제목 끝 -->
        <div class="작성자작성일시 flex-row-between-nowrap margin-a10">
          <div class="작성자 ml-20">
            <span class="font-15 c411 mr-5">작성자</span>
            <span class="">크리스 에반스</span>
          </div>
          <div class="작성일시">
            <span class="font-15 c411 mr-5">작성일</span>
            <span class="altivo-regular">24.03.07</span>
            <span class="mr-15">(목)</span>
          </div>
        </div><!-- 작성자, 작성일 끝 -->
        <div class="공지내용 notice-content flex-col-between-nowrap">
          <div class="pd-a20">
            <pre class="">달가운 바람에 얼굴을 내밀었다고 아무 말 못하지 마시고 
              궁금한 사항은 반드시 소통하기를 통해 문의해주시기 바랍니다.
  
              너와 나 언젠가 남이 되어도 영영 닿을 수 없는 사이 되어도 
              잊어버리지마 날 잊어버리지마 혹시나 다른 사람의 손 잡고 있어도
              언젠가는 기억해주길 한 번 쯤은 뒤돌아보길 부디 놓지 말아줘 
              우릴 계속 바라봐 주길 
              너와 나 언젠가 남이 되어도 영영 닿을 수 없는 사이 되어도 
              잊어버리지마 날 잊어버리지마 혹시나 다른 사람의 손 잡고 있어도
              언젠가는 기억해주길 한 번 쯤은 뒤돌아보길 부디 
              놓지 말아줘 우릴 계속 바라봐 주길
              너와 나 언젠가 남이 되어도 영영 닿을 수 없는 사이 되어도 
              잊어버리지마 날 잊어버리지마 혹시나 다른 사람의 손 잡고 있어도
              언젠가는 기억해주길 한 번 쯤은 뒤돌아보길 부디 놓지 말아줘 
              우릴 계속 바라봐 주길
            </pre>
          </div>
          <div class="flex-row-end-center-nowrap done-bg008 pd-t7 pd-r10">
            <span class="mr-5">확인</span><span class="altivo-regular mr-20">5</span>
            <span class="mr-5">미확인</span><span class="altivo-regular">3</span>
          </div>
        </div><!-- 공지 내용 끝 -->
  
        <!-- ml-24 mb-20 mr-15 -->
        <div class="첨부파일 flex-row-start-nowrap modal-notice-attachment">
          <div class="font-15 c411 flex-row-center-center-nowrap">
            <span class="item-file">첨부파일</span>
          </div>
          <div class="flex-col-start-nowrap modal-notice-files">
            <span class="ml-5 vertical-ctrl01 no-file hide">첨부된 파일이 없습니다.</span>
            <div class="flex-row-justify-start-align-center modal-notice-file-box">
              <img src="/imgs/icon_download1716.png" alt="download" class="img-1716 mr-5 ml-3">
              <span class="modal-file-name mr-10">document.pdf</span>
              <span class="modal-file-size">194.0KB</span>
            </div>
            <div class="flex-row-justify-start-align-center modal-notice-file-box">
              <img src="/imgs/icon_download1716.png" alt="download" class="img-1716 mr-5 ml-3">
              <span class="modal-file-name mr-10">document.pdf</span>
              <span class="modal-file-size">194.0KB</span>
            </div>
            <div class="flex-row-justify-start-align-center modal-notice-file-box">
              <img src="/imgs/icon_download1716.png" alt="download" class="img-1716 mr-5 ml-3">
              <span class="modal-file-name mr-10">document.pdf</span>
              <span class="modal-file-size">194.0KB</span>
            </div>
            <div class="flex-row-justify-start-align-center modal-notice-file-box">
              <img src="/imgs/icon_download1716.png" alt="download" class="img-1716 mr-5 ml-3">
              <span class="modal-file-name mr-10">document.pdf</span>
              <span class="modal-file-size">194.0KB</span>
            </div>
            <div class="flex-row-justify-start-align-center modal-notice-file-box">
              <img src="/imgs/icon_download1716.png" alt="download" class="img-1716 mr-5 ml-3">
              <span class="modal-file-name mr-10">document.pdf</span>
              <span class="modal-file-size">194.0KB</span>
            </div>
          </div>
        </div> <!-- 첨부파일 끝 -->
      </div> <!-- 내부 1: 상단닫기버튼, 제목, 작성자&일, 내용, 첨부파일 끝 -->
      
      <!-- 내부 2: 확인, 닫기 버튼 -->
      <div class="확인닫기버튼div flex-row-center-center-nowrap mb-20 mt-20 pd-b25">
        <button class="mr-15 btn-large-ok review font-white">확인</button>
        <button class="btn-large btn-blur btn-close-modal-notice-read">닫기</button>
      </div> <!-- 내부 2: 확인, 닫기 버튼 끝-->
    </div> <!-- 공지읽기 모달 끝 -->
  </div> <!-- 모달 감싸는 컨테이너 끝 -->
  <!-- 모달: 공지읽기 끝 -->


  <!-- 모달: 공지쓰기 → 파일첨부 바꿀 것(할일추가의 파일첨부로!)-->
  <!-- 모달 감싸는 컨테이너: 화면 내 다른 모든 요소 blur -->
  <div id="modal-notice-write" class="modal-container hide">
    <!-- 공지쓰기 모달 시작 -->
    <div class="modal-Right flex-col-between-nowrap modal-notice-write">
      <form id="form-write-notice" action="#" method="POST" class="" enctype="multipart/form-data">
      <!-- 내부 1: 닫기버튼, 제목, 작성자&일, 내용, 첨부파일 -->
      <div class="">
          <input type="hidden" name="author" value="author01">
          <!-- <input type="hidden" name="createdAt" value=""> -->
        <div class="닫기버튼div flex-row-end-center-nowrap">
          <span class="font-24 cursorP btn-close-modal-write-notice">&times;</span>
        </div> <!-- 상단 닫기 버튼(X) 끝 -->
        <div class="공지제목 flex-row-justify-start-align-center modal-notice-title">
          <img src="/imgs/icon_notice(pin)_s.png" alt="notice" class="ml-3">
          <input type="text" name="noticeTitle" placeholder="공지제목(20자이내)" maxlength="20" class="modal-notice-title">
        </div> <!-- 공지제목 끝 -->

        <div class="공지내용 notice-content modal-notice-write">
          <textarea form="form-write-notice" name="noticeContent" class="" maxlength="500" placeholder="공지 내용(500자 이내)"></textarea>
        </div><!-- 공지 내용 끝 -->
  
        <div class="첨부파일 flex-row-start-nowrap modal-notice-attachment">
          <div class="ml-3 flex-row-justify-start-align-center">
            <input type="file" id="notice-file" name="noticeFile" class="opacity0 wh0" multiple>
            <label for="notice-file" class="flex-row-justify-start-align-center btn-attach">
              <img src="/imgs/icon_upload1519.png" alt="upload" class="">
              <span class="font-15 c411 ml-5">파일첨부</span>
            </label>
          </div>
          <div class="flex-col-start-nowrap modal-notice-files">
            <span id="create-notice-no-file" class="ml-5 vertical-ctrl032 no-file">첨부된 파일이 없습니다.</span>
            <div id="modal-notice-write-file-box" class="업로드된개별파일 flex-col-start-nowrap modal-notice-write-file-box">
            </div> <!-- 업로드된 개별 파일 끝 -->
          </div>
        </div> <!-- 첨부파일 끝 -->
      </div> <!-- 내부 1: 닫기버튼, 제목, 작성자&일, 내용, 첨부파일 끝 -->
      
      <!-- 내부 2: 확인, 닫기 버튼 -->
      <div class="확인닫기버튼div flex-row-center-center-nowrap mb-20 mt-20 pd-b25">
        <a href="#" id="notice-write-submit" class="mr-15 btn-large-ok review font-white">확인</a>
        <button type="button" class="btn-large btn-blur btn-close-modal-write-notice">닫기</button>

      </div> <!-- 내부 2: 확인, 닫기 버튼 끝-->
      </form>
    </div> <!-- 공지쓰기 모달 끝 -->
  </div> <!-- 모달 감싸는 컨테이너 끝 -->
  <!-- 모달: 공지쓰기 끝 -->

<!-- 모달: 프로젝트 설정 시작 -->
<div id="configure-project" class="modal-container hide">
  <!-- 모달 컨테이너 -->
  <div class="modal-center820 flex-col-start-nowrap">    
    <div class="닫기버튼 box-close-modal-configure-project">&times; 닫기</div>
    <div class="전체box modal-configure-project flex-row-start-nowrap">
      <div class="왼쪽메뉴배경색을위한div configure-project-menu-box">
        <div class="왼쪽메뉴 flex-col-start-nowrap ">
          <div class="왼쪽메뉴타이틀 configure-project-menu-title mb-15">
            <span class="font-22 bold">프로젝트 관리</span>
          </div>
          <div class="왼쪽메뉴목록 configure-project-menu-list flex-col-start-nowrap">
            <div class="flex-row-justify-start-align-center configure-project-menu-btn-box btn-configure-project" data-id="configure-project-basic">
              <a class="flex-row-justify-start-align-center">
                <p class="flex-row-center-center-nowrap"><img src="/imgs/icon_settings6.png" alt="" class="img-20"></p>
                <span class="">기본설정</span>
              </a>
            </div>
            <div class="flex-row-justify-start-align-center configure-project-menu-btn-box btn-configure-project" data-id="configure-project-member">
              <a class="flex-row-justify-start-align-center">
                <p class="flex-row-center-center-nowrap"><img src="/imgs/group-chat.png" alt="" class="img-2em"></p>
                <span class="">구성원</span>
              </a>
            </div>
            <div class="flex-row-justify-start-align-center configure-project-menu-btn-box btn-configure-project" data-id="configure-project-file">
              <a class="flex-row-justify-start-align-center">
                <p class="flex-row-center-center-nowrap"><img src="/imgs/icon_attachment.png" alt="" class="img-18"></p>
                <span class="">파일</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      
      <div class="오른쪽 width80p flex-col-start-nowrap configure-project-content-box">
        <div class="오른쪽상단현메뉴타이틀 configure-project-menu-title mb-30 flex-row-justify-start-align-center">
          <div class="상단타이틀(기본설정) flex-row-justify-start-align-center configure-project-tab-title hide" data-id="configure-project-basic">
            <img src="/imgs/icon_settings6.png" alt="" class="img-30">
            <span class="font-26 bold">기본설정</span>
          </div>
          <div class="상단타이틀(구성원) flex-row-justify-start-align-center configure-project-tab-title" data-id="configure-project-member">
            <img src="/imgs/group-chat.png" alt="" class="img-40 mr-3">
            <span class="font-26 bold">구성원</span>
          </div>
          <div class="상단타이틀(파일) flex-row-justify-start-align-center configure-project-tab-title hide" data-id="configure-project-file">
            <img src="/imgs/icon_attachment.png" alt="" class="img-24 mr-5">
            <span class="font-26 bold">파일</span>
          </div>
        </div>
        <div class="오른쪽하단내용">
          <div data-id="configure-project-basic" class="기본설정 flex-col-start-nowrap configure-project-tab hide">
            <form id="configure-project-form" class="" method="POST">
              <div class="각항목프로젝트명 configure-project-basic-itemName flex-row-justify-start-align-center">
                <div class="항목명">프로젝트명</div>
                <div class="항목내용"><input type="text" class="bg-5ec configure-project-name" value="세수하러 왔다가"></div>
              </div>
              <div class="각항목생성자 configure-project-basic-itemName flex-row-justify-start-align-center">
                <div class="항목명">생성자</div>
                <div class="항목내용 bold">올리 초이</div>
              </div>
              <div class="각항목생성일 configure-project-basic-itemName flex-row-justify-start-align-center">
                <div class="항목명">생성일</div>
                <div class="항목내용 altivo-regular">2023.12.23</div>
              </div>
              <div class="각항목유형 configure-project-basic-itemName flex-row-justify-start-align-center">
                <div class="항목명">유형</div>
                <div class="항목내용">
                  <input type="radio" id="configure-project-solo" name="projectType" value="solo" class="input-radio-project-type hide">
                  <input type="radio" id="configure-project-team" name="projectType" value="team" class="input-radio-project-type hide">
                  <div class="">
                    <label for="configure-project-solo" class="btn-radio w100 radio-r">
                      <img src="/imgs/icon_solo1315.png" alt="solo" class="vertical-ctrl015">
                      <img src="/imgs/icon_blur_solo1315.png" alt="solo" class="vertical-ctrl015 hide">
                      <span class="">개인</span>
                    </label><label for="configure-project-team" class="btn-radio w100 radio-l">
                      <img src="/imgs/icon_group2215.png" alt="team" class="vertical-ctrl015 hide">
                      <img src="/imgs/icon_blur_group2215.png" alt="team" class="vertical-ctrl015">
                      <span class="font-blur">팀</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="각항목마감일 configure-project-basic-itemName flex-row-justify-start-align-center">
                <div class="항목명">마감일</div>
                <div class="항목내용"><input type="date" name="projectDueDate" class="altivo-regular" value=""></div>
              </div>
              <div class="각항목프로젝트진행상태 configure-project-basic-itemName flex-row-justify-start-align-center">
                <div class="항목명">상태</div>
                <div class="항목내용">
                  <input type="radio" id="project-status-activated" name="projectStatus" value="activated" class="input-radio-project-status hide">
                  <input type="radio" id="project-status-finished" name="projectStatus" value="finished" class="input-radio-project-status hide">
                  <input type="radio" id="project-status-deactivate" name="projectStatus" value="deactivate" class="input-radio-project-status hide">
                  <input type="radio" id="project-status-archive" name="projectStatus" value="archive" class="input-radio-project-status hide">
                  <div class="">
                    <label for="project-status-activated" class="btn-radio btn-project-status radio-l">
                      <span class="">진행중</span>
                    </label><label for="project-status-finished" class="btn-radio btn-project-status">
                      <span class="">종료</span>
                    </label><label for="project-status-deactivate" class="btn-radio btn-project-status">
                      <span class="">삭제</span>
                    </label><label for="project-status-archive" class="btn-radio btn-project-status radio-r">
                      <span class="">보관</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="확인버튼div flex-row-center-center-nowrap">
                <button type="submit" form="configure-project-form" id="btn-submit-configure-project" class="btn-submit-configure-project">변경하기</button>
              </div>
            </form>
          </div><!-- 기본설정내용 끝 -->
          <div data-id="configure-project-member" class="구성원 flex-col-start-nowrap configure-project-tab">
            tab 클릭 테스트 확인을 위한 구성원내용
          </div><!-- 구성원내용 끝 -->
          <div data-id="configure-project-file" class="파일 flex-col-start-nowrap configure-project-tab hide">
            tab 클릭 테스트 확인을 위한 파일내용
          </div><!-- 파일내용 끝 -->
        </div>
      </div>
    </div>
  </div><!-- 모달 컨테이너 끝 -->
</div>
<!-- 모달: 프로젝트 설정 끝 -->

  <!--/* 모달: 새 할 일 추가 */-->
  <!--/* 모달 컨테이너 */-->
  <th:block th:replace="~{/fragments/addTaskForm :: addTaskForm(addTaskRequest, nickname)}">
  </th:block>

  <!--/* 모달: 새 할 일 추가 끝 */-->

<!--/* 모달: 할 일 상세 */-->
  <!--/* 모달 컨테이너 */-->
  <th:block th:replace="~{/fragments/taskDetail :: taskDetail}"></th:block>
  <!--/* 모달: 할 일 상세 끝 */-->

  <!--/* Modal Ends */-->

 </body>
</html>

