<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
 <head th:fragment="header">
  <meta charset="UTF-8">
  <meta name="Author" content="JHCHOI">
  <meta name="Keywords" content="mypage">
  <meta name="Description" content="all projects">

  <title>OnTrack -Mypage(projects)</title>
  <link rel="icon" type="image/x-icon" href="/imgs/icons8-octaedro-32.png">
  <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">

  <!-- <script src="/js/main.js"></script> -->
 </head>
 <body>

  <!--------------------->
  <!----- Begin nav ----->
  <nav th:replace="~{fragments/nav :: nav}">
  </nav>
  <!-- nav End -->
  <!---------------------->

  <!----------------------------------------->
  <!----------- 상단 고정 시작 ---------->
  <!--(name, project tab, btn create project)-->
  <div class="mypage-fixed-top flex-col-start-nowrap">
    <div class="flex-row-end-center-nowrap wrapper">
      <div class="user-name flex-row-start-nowrap cursorP mb-20">
        <span class="font-18 bold" th:text="${loginUser.userName}">권지용</span>
          <a href="/logout" th:href="@{/logout}"><img src="../../static/imgs/logout.png" th:src="@{/imgs/logout.png}" class="img-20 logout" alt="logout"></a>
      </div>
    </div> <!-- 사용자 이름 끝 -->

    <div class="탭메뉴와생성버튼 wrapper flex-row-between-nowrap projects-tab-fixed">
      <div class="프로젝트탭box flex-row-start-nowrap mr-5">
        <div class="프로젝트탭 projects-tab projects-tab-choosen" data-tab-type="all"><a class="aColor" href="#">모든프로젝트</a></div>
        <div class="프로젝트탭 projects-tab" data-tab-type="solo"><a class="aColor" href="#">내프로젝트</a></div>
        <div class="프로젝트탭 projects-tab" data-tab-type="team"><a class="aColor" href="#">팀프로젝트</a></div>
        <div class="프로젝트탭 projects-tab" data-tab-type="archived"><a class="aColor" href="#">보관프로젝트</a></div>
      </div>
      <div class="새프로젝트추가버튼 ">
        <button type="button" class="btn-open-modal-create-project mr-10">+ 새 프로젝트</button>
      </div>
    </div> <!-- 탭메뉴와생성버튼 끝-->
  </div> <!-- 상단 고정 끝 -->

  <!-- Begin Search and Sort -->
  <div class="정렬과검색box wrapper flex-row-between-nowrap nextfixedWrapper">
    <div class="정렬btn flex-row-justify-start-align-center">
      <span class="ml-5 noShrink">정렬기준: &nbsp;</span>
      <!-- projects-tab-choosen -->
      <div class="btn-sort btn-blur noShrink"><a href="#" class="aColor">마감일순</a></div>
      <div class="btn-sort btn-blur noShrink"><a href="#" class="aColor">생성일순</a></div>
      <div class="btn-sort btn-blur noShrink"><a href="#" class="aColor">최종수정일순</a></div>
    </div>
    
    <div class="검색 flex-row-end-end-nowrap mb-5">
      <div class="검색box flex-row-between-nowrap searchbox">
        <input type="text" placeholder=" S E A R C H" class="">
        <button class=""><img src="/imgs/icon_search(br).png" alt="search" class="mr-10"></button>
      </div>
    </div>
  </div>
  <!-- End Search and Sort -->

  <!--/* No Project page */-->
  <div class="noproject mt-30 wrapper" th:classappend="${noProject != true}? 'hide'">
    <h2 class="font-120 font-blur mt-30 btn-open-modal-create-project cursorP">새 프로젝트 시작하기</h2>
  </div>
  <!--/* 프로젝트 카드 시작(초대) */-->
  <div class="myprojects" th:classappend="${noProject == true} ? 'hide'">
    <div class="wrapper grid-c5 mt-20"><!--/* flex-row-justify-start-align-center-wrap */-->
      <th:block th:each="project : ${myProjects}">
        <div class="프로젝트카드 project-card" th:classappend="*{project.position == 'invited'} ? 'project-invitation'">
        <a href="../project/project.html" th:href="@{|/project/*{project.projectId}|}" class="각프로젝트 aColor">
          <div class="알림닷 alarm-big right" th:classappend="*{project.position == 'invited'} ? 'sign-invitation'"></div> <!--sign-notice-->
          <div class="프로젝트명 project-card-title flex-row-between-nowrap pd-b5 mt-14">
            <div class="flex-row-justify-start-align-center">
              <img src="/imgs/icon_group.png" alt="group" class="ml-3 icon-group28" th:classappend="*{project.projectType == 'solo'} ? 'hide'">
              <img src="/imgs/icon_share.png" alt="shared" class="pd-a3 img-18" th:classappend="*{project.projectType == 'team'} ? 'hide'">
              <span class="project-card-title ml-3" th:text="*{project.projectName}">잠겨죽어도 좋으니</span>
            </div>
            <img src="/imgs/icon_setting_s.png" alt="settings" class="img-24" th:classappend="*{project.creatorId != loginUser.userId} ? 'hide'">
          </div>
          <div class="project-card-el flex-row-between-nowrap pd-a3">
            <span class="">생성자</span>
            <span th:text="*{project.creatorName}">이정하</span>
          </div>
          <div class="project-card-el flex-row-between-nowrap pd-a3">
            <span class="">생성일</span>
            <span class="altivo-light" th:text="*{project.createdAt}">24.01.06</span>
          </div>
          <div class="project-card-el flex-row-between-nowrap pd-a3" th:classappend="*{project.position == 'invited'} ? 'hide'">
            <span class="">최종수정일</span>
            <span class="altivo-light" th:text="*{project.updatedAt}">24.04.01</span>
          </div>
          <div class="project-card-el flex-row-between-nowrap pd-a3"  th:classappend="*{project.position == 'invited'} ? 'hide'">
            <span class="">마감일</span>
            <span class="altivo-light" th:text="*{project.projectDueDate} eq null?'없음':*{project.projectDueDate}">24.04.15</span>
          </div>
        </a>
          <div class="초대카드에만적용 project-card-el flex-row-between-nowrap pd-a3"  th:classappend="*{project.position != 'invited'} ? 'hide'">
            <span class="">초대받은날</span>
            <span class="altivo-light" th:text="*{project.invitedAt}">24.01.07</span>
          </div>
          <div class="초대카드에만적용 수락거절버튼div mt-30 flex-row-end-center-nowrap"  th:classappend="*{project.position != 'invited'} ? 'hide'">
            <a th:href="@{/join(projectType=*{project.projectType}, projectId=*{project.projectId}, invitedAs=*{project.invitedAs})}"><button type="button" class="done btn-small font-white">수락</button></a>
            <button type="button" class="btn-blur btn-small">거절</button>
          </div>

        </div> <!--/* 프로젝트초대 끝 */-->

      </th:block>
    </div>
  </div>
  <!--/* End Project card */-->

  <!--/* 모달: 새프로젝트 추가 */-->
  <th:block th:replace="~{fragments/createProjectForm :: createProjectForm(createProjectRequest=${createProjectRequest})}"></th:block>
  <!--/* 모달: 새프로젝트 추가 끝 */-->

  <!--/* 임시: js 확인을 위한 fragment 포함*/-->
<!--  <div id="modal-create-project" class="modal-container hide" th:fragment="createProjectForm(createProjectRequest)">-->
<!--      &lt;!&ndash;/* 새프로젝트 추가 시작 */&ndash;&gt;-->
<!--      <div class="modal-center flex-col-start-nowrap">-->
<!--          <div class="상단닫기버튼 flex-row-end-center-nowrap">-->
<!--              <button type="button" id="btn-close-modal-create-project" class="btn-close font-24">&times;</button>-->
<!--          </div>-->
<!--          <form action="/project/createProject" th:action="@{project/createProject}" th:object="${createProjectRequest}" method="POST" id="form-create-project">-->
<!--              <div class="프로젝트제목입력 bottom-line mb-30 pd-b5 modal-create-proj-name">-->
<!--                  <input type="text" class="modal-create-proj-name" name="projectName" th:field="${createProjectRequest.projectName}" max="20" placeholder="새 프로젝트명을 입력하세요">-->
<!--              </div>-->
<!--              <div class="프로젝트유형 flex-row-justify-start-align-center modal-create-proj-items mb-30">-->
<!--                  <span class="font-18 c411">프로젝트 유형</span>-->
<!--                  <div class="">-->
<!--                      <input type="radio" id="solo" th:field="${createProjectRequest.type}" value="solo" class="new-project-type input-radio-project-type hide">-->
<!--                      <input type="radio" id="team" th:field="${createProjectRequest.type}" value="team" class="new-project-type input-radio-project-type hide">-->
<!--                      <div class="">-->
<!--                          <label for="solo" class="btn-radio w100 radio-r">-->
<!--                              <img src="/imgs/icon_solo1315.png" alt="solo" class="vertical-ctrl015 hide">-->
<!--                              <img src="/imgs/icon_blur_solo1315.png" alt="solo" class="vertical-ctrl015">-->
<!--                              <span class="font-blur">개인</span>-->
<!--                          </label><label for="team" class="btn-radio w100 radio-l">-->
<!--                          <img src="/imgs/icon_group2215.png" alt="team" class="vertical-ctrl015 hide">-->
<!--                          <img src="/imgs/icon_blur_group2215.png" alt="team" class="vertical-ctrl015">-->
<!--                          <span class="font-blur">팀</span>-->
<!--                      </label>-->
<!--                      </div>-->
<!--                  </div>-->
<!--              </div>-->
<!--              <div class="프로젝트마감일 flex-row-justify-start-align-center modal-create-proj-items">-->
<!--                  <span class="font-18 c411">프로젝트 마감일</span>-->
<!--                  <div class="modal-create-proj-dueDate">-->
<!--                      <div class="bottom-line200">-->
<!--                          <input type="date" name="newProjectDueDate" th:field="${createProjectRequest.dueDate}" class="altivo-light">-->
<!--                      </div>-->
<!--                  </div>-->
<!--              </div>-->
<!--              <div class="확인(프로젝트생성버튼) flex-row-center-center-nowrap mt-60 mb-5">-->
<!--                  <button type="submit" class="btn-large-ok bg533 font-white btn-submit-create-project">생성하기</button> &lt;!&ndash;form="form-create-project" &ndash;&gt;-->
<!--              </div>-->
<!--          </form>-->
<!--      </div> &lt;!&ndash;/* 새프로젝트 추가 끝 */&ndash;&gt;-->
<!--  </div>-->

<!--  <script type="module" src="../../static/js/sse.mjs" th:src="@{/js/sse.mjs}"></script>-->
  <script src="../../static/js/myprojects.js" th:src="@{/js/myprojects.js}"></script>
 </body>
</html>
