<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="Author" content="JHCHOI">
    <meta name="Keywords" content="mypage">
    <meta name="Description" content="all projects">

    <title>OnTrack - 나의 일</title>
    <link rel="icon" type="image/x-icon" th:href="@{/imgs/icons8-octaedro-32.png}" href="../../static/imgs/icons8-octaedro-32.png">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css">
    <script type="module" src="../../static/js/myTasks.mjs" th:src="@{/js/myTasks.mjs}"></script>
    <!-- <script src="/js/main.js"></script> -->
</head>
<body>

<!--------------------->
<!----- Begin nav ----->
<nav th:replace="~{/fragments/nav :: nav}">
</nav>
<!-- nav End -->
<!---------------------->

<!----------------------------------------->
<!----------- 상단 고정(my name, page title) 시작 ---------->
<!--(name, title, view tab)-->
<div class="flex-col-start-nowrap mypage-fixed-top"> <!--/* th:fragment="dunno"*/-->
    <div class="flex-row-end-center-nowrap wrapper">
        <div class="user-name flex-row-start-nowrap cursorP">
            <img th:src="@{/imgs/icon_point3.png}" src="../../static/imgs/icon_point3.png" alt="point name" class="icon-signup4 hide">
            <span class="font-18 bold" th:text="${loginUser.userName}">존 레전드</span>
            <span class="signup4-guide ">나의 이름을 설정해주세요</span>
            <!-- <div class="alarm review"></div>
            <div class="alarm done"></div> -->
        </div>
    </div> <!-- 사용자 이름 끝 -->
    <div class="flex-row-justify-start-align-center wrapper mb-20">
        <img th:src="@{/imgs/icon_tasks2(411c02).png}" src="../../static/imgs/icon_tasks2(411c02).png" alt="" class="img-40 mr-10">
        <span class="font-36 bold c411">나의 일 모아보기</span>
    </div>
    <div class="컬럼명 my-tasks-col-names flex-row-justify-start-align-center">
        <div class=""><span class="">최종수정일시</span></div>
        <div class=""><span class="">할 일</span></div>
        <div class=""><span class="">진행상태</span></div>
        <div class=""><span class="">마감일</span></div>
        <div class=""><span class="">작성자</span></div>
        <div class=""><span class="">작성일</span></div> <!--/*작성자 추가요망. 내가 작성한 일 모아보기 탭 추가 요망.*/-->
        <div class=""><span class="">위치</span></div>
    </div>
</div>
<!-- 상단 고정(my name, page title) 끝 -->

<!---------------------------->
<div class="nextfixedWrapper116 ">
    <!-- 나의 모든 일 구분 탭 시작 -->
    <!--
    <div class="탭버튼 wrapper flex-row-between-nowrap bottom-line-subtle">
      <ul class="프로젝트탭box flex-row-start-nowrap nowrapNoshrink mr-5">
        <li class="프로젝트탭 my-tasks-btn-tab my-tasks-btn-tab-choosen">함께하는 일</li>
        <li class="프로젝트탭 my-tasks-btn-tab">혼자하는 일</li>
      </ul>
    </div> -->
    <!-- 나의 모든 일 구분 탭 끝 -->

    <!-- 나의 모든 일 목록 시작 -->
    <!-- 최종수정일(정렬기준), 최종수정자, 프로젝트명, 할일명, 진행상태, 마감일, 작성일 -->
    <div class="wrapper flex-col-start-center-nowrap">
        <th:block th:each="task:${myTasks}">
            <div class="각row my-tasks-col flex-row-justify-start-align-center" >
                <div class=""><span class="altivo-regular" th:text="${#temporals.format(task.getUpdatedAt(), 'yy.MM.dd HH:mm')}">24.04.17 21:07</span></div>
                <div class="할일 flex-row-between-nowrap">
                    <span class="" th:text="${task.getTaskTitle()}">By Your Side</span> <!--/*span.mytasks-title:after*/-->
                    <div class="상세개수 flex-row-justify-start-align-center">
                        <span class="detail ">소통</span>
                        <span class="detail-cnt mr-5" th:text="${task.getCommCnt() == null}?'0':${task.getCommCnt()}">103</span>
                        <span class="detail">파일</span>
                        <span class="detail-cnt" th:text="${task.getFileCnt() == null}?'0':${task.getFileCnt()}">21</span>
                    </div>
                </div>
                <div class="flex-row-justify-start-align-center">
                    <div class="진행상태 status-sign" th:classappend="${task.statusCode(task.getTaskStatus()).get(1)}"></div>
                    <span class="font-15" th:text="${task.statusCode(task.getTaskStatus()).get(0)}">시작 안 함</span></div>
                <div class="마감일 flex-row-center-center-nowrap">
                    <span class="altivo-regular" th:class="${task.getTaskDueDate() == null}?'font-14 font-blur':'altivo-regular'" th:text="${task.getTaskDueDate() == null}?'없음':${#temporals.format(task.getTaskDueDate(), 'yy.MM.dd ')}">24.12.10 </span>
                    <span class="font-14 bold" th:text="${task.getTaskDueDate() == null}? _:' &nbsp'+${#temporals.dayOfWeekNameShort(task.getTaskDueDate())}"></span>
                </div>
                <div class="작성자"><span class="font-14" th:text="${task.getAuthorName()}">크러쉬</span></div>
                <div class="작성일"><span class="altivo-light font-14" th:text="${#temporals.format(task.getCreatedAt(), 'yy.MM.dd')}">23.11.15</span></div>
                <div class="프로젝트명 cursorP" th:onclick="|location.href='@{|/project/${task.getProjectId()}}'|"><span class="font-14" th:text="${task.getProjectName()}">Essential;</span></div>
            </div><!-- 각 row 끝 -->
        </th:block>
    </div><!-- wrapper 끝 -->
    <!-- 나의 모든 일 목록 끝 -->
</div>

<!-------------------------->
<!-- Modal Starts -->

<!-- Modal Ends -->
<!------------------------>
</body>
</html>
