<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>addTaskForm</title>
<!--  <link rel="icon" type="image/x-icon" href="/imgs/icons8-octaedro-32.png" th:href="@{/imgs/icons8-octaedro-32.png}">-->
  <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
  <div id="container-create-task" class="modal-container " th:fragment="addTaskForm(taskFormRequest, myNickname, myMid, myPosition, memberList)">
  <!-- 새 할 일 추가 시작 -->
  <div class="modal-center flex-col-start-nowrap">
    <div class="상단닫기버튼과하위task일경우부모tasktitle flex-row-between-nowrap ">
      <div class="flex-row-justify-start-align-center modal-create-task-parent-title img-hidden">
        <img src="../../static/imgs/icon_blur_parentTask1817.png" th:src="@{/imgs/icon_blur_parentTask1817.png}" alt="parentTask" class="">
        <span class="font-blur ml-5">바다와 나비</span>
      </div>
      <span class="btn-close-modal-createTask font-24">&times;</span>
    </div>
    <form th:action="@{/task}" th:object="${taskFormRequest}" method="POST" id="form-create-task" enctype="multipart/form-data">
      <input type="hidden" th:field="${taskFormRequest.projectId}">
      <input type="hidden" th:field="${taskFormRequest.authorMid}">
      <input type="hidden" name="authorName" th:value="${myNickname}">
      <div class="할일제목 flex-row-justify-start-align-center bottom-line mt-14 mb-30 pd-b5">
        <img src="../../static/imgs/icon_blur_childTask24.png" th:src="@{/imgs/icon_blur_childTask24.png}" alt="childTask" class="hide"><!-- blur는 사용하지 말까. 추후 정리요망-->
        <img src="../../static/imgs/icon_childTask24.png" th:src="@{/imgs/icon_childTask24.png}" alt="childTask" class="icon-child-task hide">
        <input type="text" class="modal-add-task" name="taskTitle" maxlength="20" placeholder="할 일을 입력하세요">
      </div><!--/* 할일제목 끝 */-->

      <div class="할일중요도 flex-row-justify-start-align-center mb-30 modal-add-task" th:classappend="${myPosition == 'member'}?'hide'">
        <span class="font-18 c411">중요도</span>
        <div class="">
          <input type="radio" id="vip" name="taskPriority" value="1" class="input-radio hide">
          <input type="radio" id="ip" name="taskPriority" value="2" class="input-radio hide">
          <input type="radio" id="norm" name="taskPriority" value="3" class="input-radio hide" checked="checked">
          <div class="">
            <label for="vip" class="btn-radio w100 radio-l">
              <span class="font-15 vip">매우중요</span>
            </label><label for="ip" class="btn-radio w100">
            <span class="font-15 ip">중요</span>
          </label><label for="norm" class="btn-radio w100 radio-r">
            <span class="font-15 norm">일반</span>
          </label>
          </div>
        </div>
      </div><!--/* 할일중요도 끝 */-->

      <div class="할일마감일 flex-row-justify-start-align-center mb-30 modal-add-task">
        <span class="font-18 c411">마감일</span>
        <div class="">
          <div class="bottom-line200">
            <input type="date" name="taskDueDate" class="altivo-light">
          </div>
        </div>
      </div><!--/* 할일마감일 끝 */-->

      <div class="담당자배정 flex-row-start-nowrap mb-30 modal-add-task">
        <span class="font-18 c411 alignCenter">담당자</span>
        <div class="vertical-ctrl01">
          <div class="ul과checkbox로test bottom-line350">

            <!-- 선택된 담당자가 담길 box -->
            <div id="chosens-boxes" class="hide pd-b5">
            </div>

            <!-- 담당자 선택 전 -->
            <div id="assignee-before-choose" class="assignee-display mb-5">
              <span id="assign-indication" class="ml-3">담당자 배정하기(프로젝트 멤버 목록)</span>
            </div>

            <!-- 프로젝트 멤버 목록 -->
            <div id="assignee-list-box" class="hide" > <!--/* th:each="member : ${memberList}" */-->
              <th:block th:each="member : ${memberList}"> <!--/* taskAssignee */-->
                <input type="checkbox" class="hide" name="assigneeMids" th:attr="id=${member.getMemberId()}, data-nickname=${member.getNickname()}" th:value="${member.getMemberId()}"><label th:for="${member.getMemberId()}" class="display-block lists" th:text="${member.getNickname()}"></label>
<!--                <input type="checkbox" class="hide" name="assigneeMids" th:attr="id=${member.getMemberId()}, data-nickname=${member.getNickname()}" th:value="${member.getMemberId()}"><label th:for="${member.getMemberId()}" class="display-block lists" th:text="${member.getNickname()}">test2</label>-->
              </th:block>
            </div>
          </div>
        </div>
        <img src="../../static/imgs/icon_down127.png" th:src="@{/imgs/icon_down127.png}" alt="show list" class="alignCenter cursorP" id="show-assignee-list">
      </div><!-- 담당자배정 끝 -->

      <div class="할일파일첨부 flex-row-justify-start-align-center">
        <div class="filebox flex-row-justify-start-align-center">
          <input type="file" id="create-task-attach-file" name="taskFile" class="opacity0 wh0" multiple>
          <label for="create-task-attach-file" class="flex-row-justify-start-align-center btn-attach">
            <img src="../../static/imgs/icon_upload1519.png" th:src="@{/imgs/icon_upload1519.png}" alt="upload" class="">
            <span class="ml-5">파일첨부</span>
          </label>
          <div id="create-task-files" class="flex-col-start-nowrap scroll modal-create-task-files-box">
            <p id="no-file-placeholder" class="no-file mt-6">첨부된 파일이 없습니다.</p>
          </div>
        </div>
        <div class="btn-guide">?</div>
      </div><!-- 파일첨부 끝 -->

      <div class="확인(프로젝트생성버튼) flex-row-center-center-nowrap mt-60 mb-5">
        <button class="btn-large-ok done font-white" form="form-create-task" id="create-task-submit" type="submit">할 일로 등록</button>
      </div>
    </form>
  </div> <!-- 새 할 일 추가 끝 -->
</div>
  <script type="module" src="../../static/js/modalAddTask.js" th:src="@{/js/modalAddTask.js}"></script>
</body>
</html>