<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>modal - create project form</title>
    <link rel="icon" type="image/x-icon" href="/imgs/icons8-octaedro-32.png">
</head>
<body>
    <!-- 모달: 새프로젝트 추가 -->
    <!-- 모달 컨테이너 -->
    <div id="modal-create-project" class="modal-container hide" th:fragment="createProjectForm(createProjectRequest)">
        <!--/* 새프로젝트 추가 시작 */-->
        <div class="modal-center flex-col-start-nowrap">
            <div class="상단닫기버튼 flex-row-end-center-nowrap">
                <button type="button" id="btn-close-modal-create-project" class="btn-close font-24">&times;</button>
            </div>
            <form action="/project/createProject" th:action="@{/project/createProject}" th:object="${createProjectRequest}" method="POST" id="form-create-project">
                <div class="프로젝트제목입력 bottom-line mb-30 pd-b5 modal-create-proj-name">
                    <input type="text" class="modal-create-proj-name" name="newProjectName" th:field="${createProjectRequest.newProjectName}" max="20" placeholder="새 프로젝트명을 입력하세요">
                </div>
                <div class="프로젝트유형 flex-row-justify-start-align-center modal-create-proj-items mb-30">
                    <span class="font-18 c411">프로젝트 유형</span>
                    <div class="">
                        <input type="radio" id="solo" th:field="${createProjectRequest.newProjectType}" value="solo" class="new-project-type input-radio-project-type hide">
                        <input type="radio" id="team" th:field="${createProjectRequest.newProjectType}" value="team" class="new-project-type input-radio-project-type hide">
                        <div class="">
                            <label for="solo" class="btn-radio w100 radio-r">
                                <img src="/imgs/icon_solo1315.png" alt="solo" class="vertical-ctrl015 hide">
                                <img src="/imgs/icon_blur_solo1315.png" alt="solo" class="vertical-ctrl015">
                                <span class="font-blur">개인</span>
                            </label><label for="team" class="btn-radio w100 radio-l">
                            <img src="/imgs/icon_group2215.png" alt="team" class="vertical-ctrl015 hide">
                            <img src="/imgs/icon_blur_group2215.png" alt="team" class="vertical-ctrl015">
                            <span class="font-blur">팀</span>
                        </label>
                        </div>
                    </div>
                </div>
                <div class="프로젝트마감일 flex-row-justify-start-align-center modal-create-proj-items">
                    <span class="font-18 c411">프로젝트 마감일</span>
                    <div class="modal-create-proj-dueDate">
                        <div class="bottom-line200">
                            <input type="date" name="newProjectDueDate" th:field="${createProjectRequest.dueDate}" class="altivo-light">
                        </div>
                    </div>
                </div>
                <div class="확인(프로젝트생성버튼) flex-row-center-center-nowrap mt-60 mb-5">
                    <button type="submit" class="btn-large-ok bg533 font-white btn-submit-create-project">생성하기</button> <!--form="form-create-project" -->
                </div>
            </form>
        </div> <!--/* 새프로젝트 추가 끝 */-->
    </div><!--/* 모달 감싸는 컨테이너 끝 */-->
    <!--/* 모달: 새프로젝트 추가 끝 */-->
</body>
</html>