<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>project - Table view</title>
  <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
<!--  <script src="../../static/js/projectView.js" th:src="@{/js/projectView.js.js}"></script>-->
  <link rel="icon" type="image/x-icon" href="/imgs/icons8-octaedro-32.png">
</head>
<body>
  <div id="table-view" class="project-view" th:fragment="tableView(tasks, memberList)">
    <!-- 테이블 컬럼명 시작 Begin Task List Column Name (table)-->
    <div class="tableview-colName wrapper flex-row-justify-start-align-center bottom-line">
      <div class="tableview-column content-chkbox"><input type="checkbox"></div><!-- 우선순위: 하하하하하하 마지막에 해라 -->
      <div class="tableview-column"></div>
      <div class="tableview-column">할 일</div>
      <div class="tableview-column">담당자</div>
      <div class="tableview-column">진행상태</div>
      <div class="tableview-column">마감일</div>
      <div class="tableview-column">파일</div>
      <div class="tableview-column">작성자</div>
    </div>
    <!-- 테이블 컬럼명 끝 Task List Column Name (table) Ends-->

    <!-- 테이블뷰: 공지row 시작 Begin Notice -->
    <div class="tableview-notice bottom-line">
      <div class="tableview-column content-chkbox"></div><!-- <input type="checkbox"> 추후 결정요망 -->

      <div class="tableview-column flex-row-center-center-nowrap">
        <img src="../../static/imgs/icon_notice(pin).png" th:src="@{/imgs/icon_notice(pin).png}" alt="notice" class="img-25">
      </div>

      <!-- 공지 제목 notice title -->
      <div class="tableview-column flex-row-justify-start-align-center btn-open-notice" data-id="notice01">
          <span class="table-notice cursorP">
            <mark class="table-notice">달과 6펜스 공통 서식</mark>
          </span>
      </div>

      <!-- 공지 담당자(=작성자) -->
      <div class="tableview-column">
        <span class="">나탈리 포트만</span>
      </div>

      <!-- 공지 확인cnt 시작 -->
      <div class="tableview-column flex-row-center-center-nowrap">
          <div class="flex-row-justify-start-align-center">
            <div class="notice-unchk-sign"></div>
            <span class="status-remark ">미확인</span>
            <span class="unchk-count altivo-regular ml-5">8</span>
            <span class="font-10 opacity0 transit-250 ml-3">상태끄기</span>
          </div>

<!--        <div class="flex-col-start-nowrap">-->
<!--          <div class="font-10 flex-row-justify-start-align-center">-->
<!--            <div class="status-sign done"></div>-->
<!--              <span class="status-remark ">확인</span>-->
<!--              <span class="chk-count altivo-regular ml-3"> 7</span>-->
<!--            </div>-->
<!--          </div>-->
      </div> <!-- 공지 확인cnt 끝 -->

      <!-- due Date -->
      <div class="tableview-column">
      </div>

      <!-- file -->
      <div class="tableview-column flex-row-center-center-nowrap">
        <button type="button" class="add-file flex-row-center-center-nowrap hide"><img src="../../static/imgs/icon_upload(clip).png" th:src="@{/imgs/icon_upload(clip).png}" alt="add-file" class="img-20"></button><!--img-20 vertical-ctrl05-->
        <button type="button" class="more-file  flex-row-center-center-nowrap"><img src="../../static/imgs/icon_attachment.png" th:src="@{/imgs/icon_attachment.png}" alt="more-file" class="img-20"></button><!--img-20 vertical-ctrl032-->
      </div>

      <!-- 공지 작성자 -->
      <div class="tableview-column">나탈리 포트만</div>
    </div>
    <!-- 테이블뷰: 공지row 끝 Notice Contents Ends -->

    <!-- 테이블뷰: 할 일 목록Row 시작 Begin Task List(table) Contents -->
    <th:block th:each="task : ${tasks}">
      <div class="tableview-taskrow bottom-line ">
        <div class="tableview-column content-chkbox"><input type="checkbox" th:value="${task.getId()}"></div>

        <!-- child mark: create or has-->
        <div class="tableview-column flex-row-center-center-nowrap">
          <img src="/imgs/icon_arrow_closed910.png" alt="has child task" class="ml-3 hide">
          <img src="/imgs/icon_sub.png" alt="create child task" class="img-18 btn-create-child-task">
          <span class="hover-tip-child">세부 항목으로 나누기</span>
        </div>

        <!-- task title -->
        <div class="tableview-column table-task-title"><!--/* flex-row-justify-start-align-center */-->
          <div class="flex-row-justify-start-align-center">
            <span class="table-task-title" th:classappend="${task.chkEditAuth(memberId, task)}?'btn-edit-task-title'" th:text="${task.getTaskTitle()}" th:attr="data-id=${task.getId()}, data-clicker=${memberId}, data-nickname=${nickname}">물에 빠진 사람에게 수영을 잘하고 못하고는</span> <!--vertical-ctrl015 -->
            <input type="text" class="edit-task-title hide" th:value="${task.getTaskTitle()}" th:attr="data-id=${task.getId()}, data-clicker=${memberId}, data-nickname=${nickname}" autofocus>
            <img src="/imgs/icon_write.png" class="img-20 opacity0" alt="edit title" th:classappend="${task.chkEditAuth(memberId, task)}?'btn-edit-task-title'">
            <img src="/imgs/enter.png" class="img-20 btn-enter-new-title hide" alt="enter new title">
          </div>

          <img src="../../static/imgs/icon_comment.png" th:src="@{/imgs/icon_comment.png}" class="comment img-20 btn-task-detail" th:attr="data-taskid=${task.getId()}" data-tab="comment" alt="comment">
        </div>

        <!-- assignee -->
        <div class="flex-row-center-center-nowrap tableview-column table-assignee"> <!-- vertical-ctrl01 -->
          <span class="font-blur no-assignee btn-more-assignInfo" th:if="${task.getAssigneeMids().isEmpty()}" th:text="'담당자 없음'">담당자 없음</span>
          <span class="one-assignee btn-more-assignInfo" th:if="${task.getAssigneeMids().size() == 1}" th:attr="data-mid=${task.getAssigneeMids()[0]}" th:text="${task.getAssigneeNames()[0]}">서머싯 몸</span> <!--/* table-assignee-alone */-->
          <!--/*
          <th:block th:if="${task.getAssigneeNames().size() == 1} and ${task.getTaskStatus() < 3}">
            <span class=" altivo-bold opacity0 transit-250 cursorP font-16 ml-3">+</span>
          </th:block> */-->
          <th:block th:if="${task.getAssigneeNames().size() > 1}">
            <th:block th:each="assignee : ${task.manyAssigneeFirstName(task.getAssignees())}">
              <div class="many-assignee"><span class="lastName" th:attr="data-mid=${assignee.key}" th:text="${assignee.value}">김</span></div>
            </th:block>
            <img src="../../static/imgs/down.png" th:src="@{/imgs/down.png}" class="btn-more-assignInfo ml-3" alt="more assignment info">
          </th:block>

          <div class="more-assignInfo tableView-assignee-list img-hidden">
            <div class="담당자풀네임목록 task-assignee-list pd-t10">
              <div class="개별담당자box assignee-fullname-box mb-7" th:each="assignee : ${task.getAssignees()}">
                <p class="div-inline-block mb-5" th:attr="data-mid=${assignee.key}" th:text="${assignee.value}">담당자1</p> <!--/* th:classappend="${assigneeStat.count == 1}?'mt-5'" */-->
                <!--/* '진행중'일때까지만 담당자 본인 혹은 작성자만이 담당자를 해제할 수 있다 */-->
                <span class="btn-dropOut-task ml-3 cursorP" th:attr="data-assigneemid=${assignee.key}, data-executormid=${memberId}, data-authormid=${task.getAuthorMid()}, data-taskid=${task.getId()}, data-projectid=${projectId}" th:if="(${assignee.value == nickname} or ${nickname == task.getAuthorName()}) and ${task.getTaskStatus() < 4}">&times;</span>
              </div>
            </div>

              <!--/* 해당 일의 작성자나 담당자가 아니고, 해당 일의 진행상태가 '계획중'일때 까지만 '참여'가능. (작성자는 담당자가 아니어도 '참여하기'가 아닌 담당자 추가로만 가능함.) */-->
            <th:block th:each="assignee : ${task.getAssignees()}">
                <div class="참여하기 flex-row-center-center-nowrap top-line cursorP mt-5 mb-5 pd-t5 btn-applySelf-task" th:if="${!#strings.equals(assignee.value, nickname)} and ${!#strings.equals(nickname, task.getAuthorName())} and ${task.getTaskStatus() < 3} and ${assigneeStat.first}" th:attr="data-assigneemid=${assignee.key}, data-assigneeName=${assignee.value}">
                  <div class="iconBox-27"><img src="../../static/imgs/icon_participate.png" th:src="@{/imgs/icon_participate.png}" class="img-24" alt="participate this task"></div>
                  <span>이 일에 참여하기</span>
                </div>
              </th:block>

              <!--/* 해당 일의 작성자이며, 해당 일의 진행상태가 '검토중'일 때까지만 추가가능 */-->
            <div class="담당자추가 btn-add-member-to-assignee top-line pd-t10 pd-b5" th:attr="data-executor=${memberId}, data-taskid=${task.getId()}, data-projectid=${projectId}, data-assigneeCnt=${task.getAssigneeMids().size()}, data-authormid=${task.getAuthorMid()}" th:if="${task.getAuthorMid() == memberId} and ${task.getTaskStatus() < 5}">
                <span>담당자 추가하기</span>
                <img src="../../static/imgs/down.png" th:src="@{/imgs/down.png}" class="img-angle270" alt="add assignee">
            </div>
            <div class="담당자로추가할멤버찾기box find-member-to-assign img-hidden">
              <div class="검색 bottom-line pd-b3">
                <input type="text" class="input-findByName-toAssign font-15 w100" placeholder="멤버검색" name="">
                <button type="button" class="btn-findByName-member-to-assign" >검색</button> <!--/* th:value="${memberList}" */-->
              </div>
              <div class="배정안된멤버목록 unassigned-member-list">
                <div class="개별멤버box unassigned-member mt-10 mb-10 cursorP" th:each="unassingedMember : ${task.unassignedMember(memberList, task.getAssignees())}">
                  <p class="div-inline-block" th:text="${unassingedMember.value}" th:attr="data-mid=${unassingedMember.key}">쉘든 쿠퍼</p>
                </div>
              </div>
              <div class="배정안된멤버검색결과"></div>
            </div>
          </div>
        </div>

        <!-- status -->
        <div class="tableview-column flex-row-center-center-nowrap">
          <div class="w70pMin105 flex-row-justify-start-align-center-wrap">
          <div class="flex-row-justify-start-align-center-wrap table-status-sign-noChild btn-open-task-status" th:if="${task.getTaskParentId() == null}">
            <div class="status-sign" th:classappend="${task.switchStatusToEng(task.getTaskStatus())}"></div>
            <span class="status-remark" th:text="${task.switchStatusToKor(task.getTaskStatus())}">진행중</span>
            <th:block th:each="assignee : ${task.getAssignees()}">
              <span class="ml-5 opacity0 transit-250 font-12" th:if="(${#strings.equals(assignee.value, nickname)} or ${#strings.equals(nickname, task.getAuthorName())}) and ${task.getTaskStatus() < 5} and ${assigneeStat.first}">변경</span>
            </th:block>
          </div>
          <div class="table-status-sign-hasChild hide">
            <div class="status-sign-hasChild-cntbox not-yet "><!-- vertical-ctrl01-->
              <span class="status-child-count altivo-regular">19</span>
            </div>
            <div class="status-sign-hasChild-cntbox planning "><!-- vertical-ctrl01-->
              <span class="status-child-count altivo-regular">2</span>
            </div>
            <div class="status-sign-hasChild-cntbox ing "> <!-- vertical-ctrl01-->
              <span class="status-child-count font-white altivo-regular">4</span>
            </div>
            <div class="status-sign-hasChild-cntbox review "><!-- vertical-ctrl01-->
              <span class="status-child-count font-white altivo-regular">5</span>
            </div>
            <div class="status-sign-hasChild-cntbox done "><!-- vertical-ctrl01-->
              <span class="status-child-count font-white altivo-regular">3</span>
            </div>
          </div>
          </div>
        </div>

        <!-- due Date -->
        <div class="tableview-column flex-row-center-center-nowrap">
          <img src="../../static/imgs/icon_overDue.png" th:src="@{/imgs/icon_overDue.png}" alt="overDue" class="img-18 mr-5" th:if="${task.getTaskDueDate() le today} and ${task.getTaskDueDate() != null}"> <!-- vertical-ctrl005 ml_12 -->
          <span class="altivo-regular dueDate" th:text="${task.getTaskDueDate() == null}?'없음':${#temporals.format(task.getTaskDueDate(), 'MM.dd ')}" th:classappend="${task.getTaskDueDate() == null}?'font-blur'">03.29</span><!-- vertical-ctrl_018L -->
          <span class="ml-5 day" th:text="${task.getTaskDueDate() == null}? _:${#temporals.dayOfWeekNameShort(task.getTaskDueDate())}"></span> <!-- vertical-ctrl_018L-->
        </div>

        <!-- file -->
        <div class="tableview-column flex-row-center-center-nowrap">
          <button type="button" class="add-file flex-row-center-center-nowrap"><img src="../../static/imgs/icon_upload(clip).png" th:src="@{/imgs/icon_upload(clip).png}" alt="add-file" class="img-20"></button><!--  vertical-ctrl015-->
          <button type="button" class="more-file flex-row-center-center-nowrap hide"><img src="../../static/imgs/icon_attachment.png" th:src="@{/imgs/icon_attachment.png}" alt="more-file" class="img-20 vertical-ctrl015"></button>
        </div>

        <!-- author -->
        <div class="tableview-column" th:text="${task.getAuthorName()}">올리초이</div> <!-- vertical-ctrl01-->
      </div><!-- 테이블뷰: 할 일 목록Row 끝 Task List Contents Ends -->
    </th:block>
  </div>

  <div id="status-view" class="project-view hide" th:fragment="statusView(tasks, memberList)">
    <!-- status view: notice starts-->
    <div class="wrapper mb-20 flex-row-start-nowrap">
      <div class="statusview-notice btn-open-notice" data-id="notice01">
        <div class="statusview-bgRed-radius div-inline-block">
          <img src="/imgs/icon_pin(white).png" alt="notice" class="icon-pin-statusview">
        </div>
        <span class="statusview-notice">케이크와 맥주팀 공통서식</span>
        <img src="/imgs/icon_attachment(status).png" alt="file" class="icon-file-statusview">
      </div>
    </div>
    <!-- status view: notice ends-->

    <!-- status view: content starts -->
    <div class="wrapper mb-20">
      <!-- status view: 각 진행상태box가 다 담긴 컨테이너.. -->
      <div class="flex-row-start-nowrap ml-5">
        <!--/* status view: box start */-->
        <!--/* tasks는 LinkedHashMap<Integer, List<StatusTaskList>> statusTaskList 임!!! */-->
        <th:block th:each="statusN : ${tasks}"> <!--/* statusN이 List<StatusTaskList>?? */-->
          <th:block th:each="task : ${statusN.value}"><!--tasks.get(statusNStat.count)-->
            <th:block th:if="${taskStat.count == 1}">
              <div class="statusview-type-box"> <!--/*th:if="${task.getTaskStatus() == 99}"*/-->
                <div class="statusview-type-header">
                  <div class="bar" th:classappend="${task.switchStatusToCss(statusNStat.index)[1]}"></div> <!--/* pause */-->
                  <span class="statusview-type-name" th:text="${task.switchStatusToCss(statusNStat.index)[0]}">보류/취소</span>
                  <span class="statusview-type-count altivo-regular" th:if="${taskStat.count == 1}" th:text="${tasks.get(statusNStat.index).size() > 0}?${tasks.get(statusNStat.index).size()}:'0'"></span>
                </div>
                <div class="statusview-type-board" th:classappend="${task.switchStatusToCss(statusNStat.index)[2]}"> <!--/* pause-bg */-->
                  <th:block th:each="t : ${tasks.get(statusNStat.index)}"> <!--/* t는 StatusTaskList이며, task는 List<StatusTaskList> 임!!! */--> <!--task : ${tasks.get(statusNStat.index)}-->
                    <!-- statusview-task-box Start -->
                    <div class="statusview-task-box" th:classappend="${t.switchStatusToCss(statusNStat.index)[3]}"><!--/* btn-task-detail pause-border-shadow*/-->
                      <!-- status view: 할 일 명 -->
                      <div class="statusview-task">
                        <span class="statusview-task-title" th:classappend="${t.chkEditAuth(memberId, t)}?'btn-edit-task-title'" th:text="${t.getTaskTitle()}">스프링 퀵 스타트 늘어나면 어떻게 되는지 확인해봅니다</span> <!--/* btn-edit-task-title */-->
                        <input type="text" class="edit-task-title w200 hide" th:value="${t.getTaskTitle()}" th:attr="data-id=${t.getId()}, data-clicker=${memberId}, data-nickname=${nickname}" autofocus>
                        <img src="/imgs/icon_write.png" class="img-20 opacity0" alt="edit title" th:classappend="${t.chkEditAuth(memberId, t)}?'btn-edit-task-title'">
                        <img src="/imgs/enter.png" class="img-20 btn-enter-new-title hide" alt="enter new title">
                      </div>
                      <!-- status view: 마감일 -->
                      <div class="statusview-task">
                        <span class="no-dueDate status-vt-control1 font-12" th:if="${t.getTaskDueDate() == null}">마감일 없음</span>
                        <span class="statusview-dueDate altivo-regular" th:text="${t.getTaskDueDate() != null}?${#temporals.format(t.getTaskDueDate(), 'MM.dd ')}">03.29</span>
                        <span class="statusview-duedate-day" th:text="${t.getTaskDueDate() != null}?'('+${#temporals.dayOfWeekNameShort(t.getTaskDueDate())}+')'">(월)</span>
                      </div>
                      <!-- status view: 담당자 -->
                      <div class="statusview-task status-assignee">
                        <span class="no-assignee" th:if="${t.getAssignees().size() == null}">담당자 없음</span> <!--원래 font-blur였음 no-assignee로 변경 6/20 -->
                        <span class=" one-assignee" th:if="${t.getAssignees().size() == 1}" th:text="${t.getAssigneeName()}">채규태</span>
                        <th:block th:if="${t.getAssignees().size() == 1} and ${t.getTaskStatus() < 3}">
                          <span class="altivo-bold btn-more-assignInfo opacity0 transit-250 cursorP font-16 ml-3">+</span><!--/* btn-alone-assignee */-->
                        </th:block>
                        <th:block th:if="${t.getAssignees().size() > 1}">
                          <th:block th:each="assignee : ${t.manyAssigneeFirstName(t.getAssignees())}">
                            <div class="many-assignee"><span class="lastName" th:text="${assignee.value}">채</span></div>
                          </th:block>
                          <img src="../../static/imgs/down.png" th:src="@{/imgs/down.png}" class="btn-more-assignInfo cursorP ml-3" alt="more assignment info">
                        </th:block>
                        <div class="more-assignInfo statusView-assignee-list img-hidden">
                          <div class="담당자목록 task-assignee-list pd-t10">
                            <div class="개별담당자box assignee-fullname-box mb-7" th:each="assignee : ${t.getAssignees()}">
                              <p class="div-inline-block mb-5" th:text="${assignee.value}">담당자1</p> <!--/* th:classappend="${assigneeStat.count == 1}?'mt-5'" */-->
                              <!--/* '진행중'일때까지만 담당자 본인 혹은 작성자만이 담당자를 해제할 수 있다 */-->
                              <span class="btn-dropOut-task ml-3 cursorP" th:attr="data-assigneemid=${assignee.key}, data-executormid=${memberId}, data-authormid=${t.getAuthorMid()}, data-taskid=${t.getId()}, data-projectid=${projectId}" th:if="(${assignee.value == nickname} or ${nickname == t.getAuthorName()}) and ${t.getTaskStatus() < 4}">&times;</span>
                            </div>
                          </div>

                          <!--/* 해당 일의 작성자나 담당자가 아니고, 해당 일의 진행상태가 '계획중'일때 까지만 '참여'가능. (작성자는 담당자가 아니어도 '참여하기'가 아닌 담당자 추가로만 가능함.) */-->
                          <th:block th:each="assignee : ${t.getAssignees()}">
                            <div class="참여하기 flex-row-center-center-nowrap top-line cursorP mt-5 mb-5 pd-t5 btn-applySelf-task" th:if="${!#strings.equals(assignee.value, nickname)} and ${!#strings.equals(nickname, t.getAuthorName())} and ${t.getTaskStatus() < 3} and ${assigneeStat.first}" th:attr="data-assigneemid=${assignee.key}, data-assigneeName=${assignee.value}">
                              <div class="iconBox-27"><img src="../../static/imgs/icon_participate.png" th:src="@{/imgs/icon_participate.png}" class="img-24" alt="participate this task"></div>
                              <span>이 일에 참여하기</span>
                            </div>
                          </th:block>

                          <!--/* 해당 일의 작성자이며, 해당 일의 진행상태가 '검토중'일 때까지만 추가가능 */-->
                          <!--/* btn-add-member-to-assignee */-->
                          <div class="검색(담당자로추가할멤버) top-line pd-t10 pd-b5 cursorP" th:if="${t.getAuthorMid() == memberId} and ${t.getTaskStatus() < 5}">
                            <div class="status-find-member-to-assign pd-b5">
                              <!--/* data-executor=${memberId}, data-authormid=${t.getAuthorMid()}, data-assigneeCnt=${t.getAssignees().size()} */-->
                              <input type="hidden" th:attr="data-taskid=${t.getId()}, data-projectid=${projectId}">
                              <input type="text" class="font-14 w100 input-findByName-toAssign" placeholder="새로 배정할 멤버" name="">
                              <button type="button" class="btn-findByName-member-to-assign">검색</button>
                            </div>
                            <div class="배정안된멤버목록 unassigned-member-list ">
                              <div class="개별멤버box unassigned-member" th:each="unassingedMember : ${t.unassignedMember(memberList, t.getAssignees())}">
                                <p class="div-inline-block mb-10 cursorP" th:text="${unassingedMember.value}" th:attr="data-mid=${unassingedMember.key}">쉘든 쿠퍼</p>
                              </div>
                            </div>
                            <div class="검색결과노매치 no-match-member-name hide">
                              <span class="font-13">해당 이름을 가진 멤버가 없습니다.</span>
                            </div>
                          </div>
                          <!--/*
                          <div class="추가할담당자box find-member-to-assign img-hidden">
                            <div class="검색 bottom-line pd-b3 pd-t7 mb-10">
                              <input type="text" class="font-15 w100" placeholder="멤버검색" name="">
                              <button type="button" class="btn-findByName-member-to-assign" >검색</button>
                            </div>
                            <div class="배정안된멤버목록 unassigned-member-list scroll">
                              <div class="개별멤버box unassigned-member" th:each="unassingedMember : ${t.unassignedMember(memberList, t.getAssignees())}">
                                <p class="div-inline-block mb-10 cursorP" th:text="${unassingedMember.value}" th:attr="data-mid=${unassingedMember.key}">쉘든 쿠퍼</p>
                              </div>
                            </div>
                          </div> */-->
                        </div>
                      </div>
                    </div> <!-- End of <div class="statusview-task-box"> -->
                  </th:block>
                </div> <!-- End of <div class="statusview-type-board"> -->
              </div> <!-- End of <div class="statusview-type-box"> -->
            </th:block>
          </th:block>

        </th:block>

      </div> <!-- End of <div class="flex-row-start-nowrap ml-5"> -->
      <!-- status view: content ends -->
    </div><!-- End of <div class="wrapper mb-20"> -->
  </div> <!-- End of #status-view div -->

  <div id="assignee-view" class="project-view hide" th:fragment="assigneeView(assignees, noAssigneeTasks)">
    <div class="wrapper mb-20 flex-col-start-nowrap">

      <div class="flex-row-justify-start-align-center sort-box">
        <span class="mr-15">정렬기준: </span>
        <button type="button" class="btn-sort btn-choosen ">담당자명</button>
        <button type="button" class="btn-sort btn-blur ">할 일 개수</button>
        <button type="button" class="btn-sort btn-blur ">진행률</button>
      </div>
      <!--/* 담당자별box 컨테이너 시작 */-->
      <div class="flex-col-start-nowrap">
        <th:block th:each="assignee : ${assignees}">
          <!--/* 담당자 있는 div(요약)시작 */-->
          <div class="flex-row-between-nowrap assignee-box">
            <div class="flex-row-justify-start-align-center "><!--overflow-hidden-->
              <div class="assignee-name-n-status-cnt flex-col-justify-center">
                <span class="" th:text="${assignee.getAssigneeName()}">라이언 고슬링</span>
              </div>
              <!-- 2rows 담을 div: ①진행상황 그래프, ②개수 -->
              <div class="flex-col-between-nowrap ml-5 overflow-hidden">
                <div class="flex-row-start-nowrap">
                  <th:block th:if="${assignee.getTList().size() != null}">
                    <th:block th:each="task : ${assignee.getTList()}">
                      <div class="status-graph pause" th:if="${task.getTaskStatus() == 0}"></div>
                      <div class="status-graph not-yet" th:if="${task.getTaskStatus() == 1}"></div>
                      <div class="status-graph planning" th:if="${task.getTaskStatus() == 2}"></div>
                      <div class="status-graph ing" th:if="${task.getTaskStatus() == 3}"></div>
                      <div class="status-graph review" th:if="${task.getTaskStatus() == 4}"></div>
                      <div class="status-graph done" th:if="${task.getTaskStatus() == 5}"></div>
                    </th:block>
                  </th:block>

                </div>
                <div class="flex-row-between-nowrap assignee-state">
                  <div class="flex-row-start-nowrap">
                    <div class="mr-15 각 진행상황 div">
                      <span class="">보류</span>
                      <th:block th:each="task : ${assignee.getTList()}"> <!--check9 -->
                        <span class="altivo-regular" th:if="${taskStat.count == 1}" th:text="${task.countStatus(assignee.getTList(), 0)}"></span> <!--?${task.countStatus(assignee.getTList(), 1)}:'0'-->
                      </th:block>
                    </div>
                    <div class="mr-15 각 진행상황 div">
                      <span class="">시작 안 함</span>
                      <th:block th:each="task : ${assignee.getTList()}"> <!--check9 -->
                        <span class="altivo-regular" th:if="${taskStat.count == 1}" th:text="${task.countStatus(assignee.getTList(), 1)}"></span> <!--?${task.countStatus(assignee.getTList(), 1)}:'0'-->
                      </th:block>
                    </div>
                    <div class="mr-15 각 진행상황 div">
                      <span class="">계획중</span>
                      <th:block th:each="task : ${assignee.getTList()}">
                        <span class="altivo-regular" th:if="${taskStat.count == 1}" th:text="${task.countStatus(assignee.getTList(), 2)}"></span><!--?${task.countStatus(assignee.getTList(), 2)}:'0'-->
                      </th:block>
                    </div>
                    <div class="mr-15 각 진행상황 div">
                      <span class="">진행중</span>
                      <th:block th:each="task : ${assignee.getTList()}">
                        <span class="altivo-regular" th:if="${taskStat.count == 1}" th:text="${task.countStatus(assignee.getTList(), 3)}"></span><!--?${task.countStatus(assignee.getTList(), 3)}:'0'-->
                      </th:block>
                    </div>
                    <div class="mr-15 각 진행상황 div">
                      <span class="">검토중</span>
                      <th:block th:each="task : ${assignee.getTList()}">
                        <span class="altivo-regular" th:if="${taskStat.count == 1}" th:text="${task.countStatus(assignee.getTList(), 4)}"></span><!--?${task.countStatus(assignee.getTList(), 4)}:'0'-->
                      </th:block>
                    </div>
                    <div class="mr-15 각 진행상황 div">
                      <span class="">완료</span>
                      <th:block th:each="task : ${assignee.getTList()}">
                        <span class="altivo-regular" th:if="${taskStat.count == 1}" th:text="${task.countStatus(assignee.getTList(), 5)}"></span><!--?${task.countStatus(assignee.getTList(), 5)}:'0'-->
                      </th:block>
                    </div>
                  </div>

                  <!-- <div class="flex-row-start-nowrap">
                    <div class="mr-15 각 진행상황 div">
                      <span class="">보류</span>
                      <span class="altivo-regular">2</span>
                    </div>
                    <div class="각 진행상황 div">
                      <span class="">취소</span>
                      <span class="altivo-regular">0</span>
                    </div>
                  </div> -->
                </div>
              </div>

            </div>
            <div class="mr-15 flex-row-end-center-nowrap"> <!--zIdx2 flex-row-center-center-nowrap -->
              <img src="/imgs/icon_arrow_down.png" alt="button for open box" class="btn-open-assignee-status-box" th:attr="data-id=${assignee.getAssigneeName()}">
            </div>
          </div> <!-- 담당자 있는 div(요약) 끝 -->
          <!-- 담당자별 상세컨테이너 시작 -->
          <div class="담당자별상세컨테이너 assignee-status-box mb-30 hide" th:attr="data-id=${assignee.getAssigneeName()}">
            <th:block th:each="tStatus : ${statusMap}">
              <!--/* 담당자 진행상태별box 시작 */-->
              <div class="flex-row-start-nowrap mt-14">
                <div class="진행상황명n개수 flex-col-start-nowrap assignee-name-n-status-cnt">
                  <div class="flex-row-between-nowrap mt-5">
                    <div class="flex-row-justify-start-align-center">
                      <div class="assignee-bar" th:classappend="${tStatus.value[1]}"></div> <!--/* css 상태바 not-yet */-->
                      <span class="ml-5 font-15" th:text="${tStatus.value[0]}">시작 안 함</span>
                    </div>
                    <th:block th:each="task : ${assignee.getTList()}">
                      <div class="mr-9 altivo-regular" th:if="${taskStat.count == 1}" th:text="${task.countStatus(assignee.getTList(), tStatus.key)}?${task.countStatus(assignee.getTList(), tStatus.key)}:'-'"></div>
                    </th:block>
                  </div>
                  <div class="공동작업 flex-row-between-nowrap font-11">
                    <span class="ml-15">공동작업</span>
                    <th:block th:each="task : ${assignee.getTList()}">
                      <div class="mr-10 altivo-regular" th:if="${taskStat.count == 1}" th:text="${task.cntTeamOrSoloTask(assignee.getTList(), 'team', tStatus.key, assignee.getAssigneeName())}?${task.cntTeamOrSoloTask(assignee.getTList(), 'team', tStatus.key, assignee.getAssigneeName())}:'-'"></div>
                    </th:block>
                  </div>
                  <div class="개인작업 flex-row-between-nowrap font-11">
                    <span class="ml-15">개인작업</span>
                    <th:block th:each="task : ${assignee.getTList()}">
                      <div class="mr-10 altivo-regular" th:if="${taskStat.count == 1}" th:text="${task.cntTeamOrSoloTask(assignee.getTList(), 'solo', tStatus.key, assignee.getAssigneeName())}?${task.cntTeamOrSoloTask(assignee.getTList(), 'solo', tStatus.key, assignee.getAssigneeName())}:'-'"></div>
                    </th:block>
                  </div>
                </div> <!-- 진행상황명·개수 끝 -->
                <div class="할일박스컨테이너 flex-row-justify-start-align-center-wrap assignee-taskbox-container" th:classappend="${tStatus.value[2]}"> <!--/* css task박스 컨테이너  notYet-bg20 */-->
                  <th:block th:each="task : ${assignee.getTList()}">
                    <th:block th:if="${task.getTaskStatus() == tStatus.key}">
                      <div class="태스크박스 btn-task-detail assignee-task-box" th:classappend="${tStatus.value[3]}" th:attr="data-id=${task.getId()}"> <!--/* css task박스 테두리 notYet-border-shadow*/-->
                      <div class="flex-row-between-nowrap mb-5">
                        <div class="assignee-task-title" th:text="${task.getTaskTitle()}">인라인블록뺀 후 할일상세버튼삽입</div>
                        <img src="/imgs/icon_group.png" alt="group work" class="icon-group23" th:if="${task.getAssigneeNum() > 1}">
                      </div>
                      <div class="마감일 flex-row-justify-start-align-center">
                        <span class="font-11">마감일&nbsp;</span>
                        <span class="font-11" th:text="${task.getTaskDueDate() == null}?'없음'"></span>
                        <span class="altivo-regular font-11" th:text="${task.getTaskDueDate() !=null}?${#temporals.format(task.getTaskDueDate(), 'MM.dd ')}">03.29</span>
                        <span class="font-11" th:text="${task.getTaskDueDate() != null}?'('+${#temporals.dayOfWeekNameShort(task.getTaskDueDate())}+')'">&nbsp;(일)</span>
                        <img src="/imgs/icon_overDue.png" alt="overDue" class="img-15 ml-3" th:if="${task.getTaskDueDate() != null} and ${task.getTaskDueDate() le today}">
                      </div>
                    </div> <!-- task box END-->
                    </th:block>
                  </th:block>

                </div> <!-- 할일박스컨테이너 END -->
              </div>
              <!--/* 담당자 진행상태별box 끝 */-->
            </th:block>
          </div><!-- 담당자별상세컨테이너 끝 (for scrollY)-->
        </th:block>
      </div> <!--/* 담당자별box 전체 컨테이너 끝 */-->
    </div> <!--/* 정렬box와 담당자별box 컨테이너 끝 */-->
  </div>
</body>
</html>