<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>project - Table view</title>
<!--    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/web-socket-js/1.0.0/web_socket.min.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.6.1/dist/sockjs.min.js"></script>-->
<!--    <script type="module" src="../../static/js/main.js" th:src="@{/js/main.js}"></script>-->
    <!--  <script src="../../static/js/projectView.js" th:src="@{/js/projectView.js.js}"></script>-->
    <link rel="icon" type="image/x-icon" href="../../static/imgs/icons8-octaedro-32.png" th:href="@{/imgs/icons8-octaedro-32.png}">
</head>
<body>
<div id="status-view" class="project-view" th:classappend="${view != 'status' or view == null}?'hide'" th:fragment="statusView(tasks, memberList, myNickname, myMid)">
    <!-- status view: notice starts-->
    <div class="wrapper mb-20 flex-row-start-nowrap">
        <div class="statusview-notice btn-open-notice" data-id="notice01">
            <div class="statusview-bgRed-radius div-inline-block">
                <img src="../../static/imgs/icon_pin(white).png" th:src="@{/imgs/icon_pin(white).png}" alt="notice" class="icon-pin-statusview">
            </div>
            <span class="statusview-notice">케이크와 맥주팀 공통서식</span>
            <img src="../../static/imgs/icon_attachment(status).png" th:src="@{/imgs/icon_attachment(status).png}" alt="file" class="icon-file-statusview">
        </div>
    </div>
    <!-- status view: notice ends-->

    <!-- status view: content starts -->
    <div class="wrapper mb-20">
        <!-- status view: 각 진행상태box가 다 담긴 컨테이너.. -->
        <div class="flex-row-start-nowrap ml-5">
            <!--/* status view: box start */-->
            <!--/* tasks는 LinkedHashMap<Integer, List<StatusTaskList>> statusTaskList 임!!! */-->
            <th:block th:each="statusN : ${tasks}">
                <th:block th:each="task : ${statusN.value}"> <!--/* statusN.value: List<StatusTaskList>?? */-->
                    <th:block th:if="${taskStat.count == 1}">
                        <div class="statusview-type-box"> <!--/*th:if="${task.getTaskStatus() == 99}"*/-->
                            <div class="statusview-type-header">
                                <div class="bar" th:classappend="${task.switchStatusToCss(statusNStat.index)[1]}"></div> <!--/* pause */-->
                                <span class="statusview-type-name" th:text="${task.switchStatusToCss(statusNStat.index)[0]}">보류/취소</span>
                                <span class="statusview-type-count altivo-regular" th:if="${taskStat.count == 1}" th:text="${tasks.get(statusNStat.index).size() > 0}?${tasks.get(statusNStat.index).size()}:'0'"></span>
                            </div>
                            <div class="statusview-type-board" th:classappend="${task.switchStatusToCss(statusNStat.index)[2]}"> <!--/* pause-bg */-->
                                <th:block th:each="t : ${tasks.get(statusNStat.index)}"> <!--/* t는 StatusTaskList이며, task는 List<StatusTaskList> 임!!! */--> <!--task : ${tasks.get(statusNStat.index)}-->
                                    <!-- statusview-task-box Start -->
                                    <div class="statusview-task-box" th:classappend="${t.switchStatusToCss(statusNStat.index)[3]}"><!--/* btn-task-detail pause-border-shadow*/-->
                                        <!-- status view: 할 일 명 -->
                                        <div class="statusview-task">
                                            <span class="statusview-task-title" th:classappend="${t.chkEditAuth(myMid, t)}?'btn-edit-task-title'" th:text="${t.getTaskTitle()}">스프링 퀵 스타트 늘어나면 어떻게 되는지 확인해봅니다</span> <!--/* btn-edit-task-title */-->
                                            <input type="text" class="edit-task-title w200 hide" th:value="${t.getTaskTitle()}" th:attr="data-taskid=${t.getId()}, data-myNickname=${myNickname}" autofocus> <!--/* , data-clicker=${memberId} */-->
                                            <img src="../../static/imgs/icon_write.png" th:src="@{/imgs/icon_write.png}" class="img-20 opacity0" alt="edit title" th:classappend="${t.chkEditAuth(myMid, t)}?'btn-edit-task-title'">
                                            <img src="../../static/imgs/enter.png" th:src="@{/imgs/enter.png}" class="img-20 btn-enter-new-title hide" alt="enter new title">
                                        </div>
                                        <!-- status view: 마감일 -->
                                        <div class="statusview-task" th:classappend="${t.chkEditAuth(myMid, t) and t.getTaskStatus() < 5}?'btn-edit-task-duedate'">
                                            <!--                        <span class="no-dueDate status-vt-control1 font-12" th:if="${t.getTaskDueDate() == null}">마감일 없음</span>-->
                                            <img src="../../static/imgs/icon_overDue.png" th:src="@{/imgs/icon_overDue.png}" class="img-18 mr-5" alt="overDue" th:if="${t.getTaskDueDate() le today} and ${t.getTaskDueDate() != null}">
                                            <span class="altivo-regular statusview-dueDate" th:text="${t.getTaskDueDate() != null}?${#temporals.format(t.getTaskDueDate(), 'MM.dd ')}:'마감일 없음'" th:classappend="${t.getTaskDueDate() == null}?'no-dueDate'">03.29</span>
                                            <span class="statusview-duedate-day" th:text="${t.getTaskDueDate() != null}?'('+${#temporals.dayOfWeekNameShort(t.getTaskDueDate())}+')'">(월)</span>
                                            <div class="edit-task-duedate hide">
                                                <input type="date" class="input-edit-task-duedate" th:value="${t.getTaskDueDate() != null}?${t.getTaskDueDate()}">
                                                <button type="button" class="btn-submit-task-duedate" data-view="status" th:attr="data-projectid=${projectId}, data-taskid=${t.getId()}, data-updatedBy=${myMid}">반영하기</button>
                                            </div>
                                        </div>
                                        <!-- status view: 담당자 -->
                                        <div class="status-assignee"><!-- statusview-task (flex 설정 다름..)-->
                                            <div class="담당자요약및풀네임"> <!--btn-more-assignInfo는 table view에서(만) 사용...-->
                                                <div class="담당자요약box assignee-brief-box">
                                                    <span class="font-14 no-assignee" data-view="status" th:if="${t.getAssignees().containsValue('noassignee') }">담당자 없음</span> <!--원래 font-blur였음 no-assignee로 변경 6/20 -->
                                                    <th:block th:each="assignee: ${t.getAssignees()}">
                                                        <span class="font-14 one-assignee" data-view="status" th:if="${!t.getAssignees().containsValue('noassignee')} and ${t.getAssignees().size() == 1}" th:text="${assignee.value}">채규태</span> <!--/*안 쓰는 값인 듯.. ? th:attr="data-size=${t.getAssignees()}"*/-->
                                                    </th:block>
                                                    <th:block th:if="${t.getAssignees().size() > 1}">
                                                        <th:block th:each="assignee : ${t.manyAssigneeFirstName(t.getAssignees())}">
                                                            <div class="many-assignee"><span class="lastName" th:attr="data-mid=${assignee.key}" th:text="${assignee.value}">채</span></div>
                                                        </th:block>
                                                    </th:block>
                                                </div>
                                                <div class="more-assignInfo statusView-assignee-list img-hidden">
                                                    <div class="담당자풀네임목록 task-assignee-list pd-t5">
                                                        <div class="개별담당자box assignee-fullname-box mb-7" th:if="${!t.getAssignees().containsValue('noassignee')}" th:each="assignee : ${t.getAssignees()}">
                                                            <p class="div-inline-block mb-5" th:attr="data-mid=${assignee.key}" th:text="${assignee.value}">담당자1</p> <!--/*  th:classappend="${assigneeStat.count == 1}?'mt-5'" */-->
                                                            <!--/* '완료'전까지 작성자는 담당자를 해제할 수 있다. */-->
                                                            <span class="btn-dropOut-task ml-3" data-view="status" th:attr="data-assigneemid=${assignee.key}, data-executormid=${myMid}, data-authormid=${t.getAuthorMid()}, data-taskid=${t.getId()}, data-projectid=${projectId}"
                                                                  th:if="${t.getAuthorMid() == myMid} and ${t.getTaskStatus() < 5} and ${!t.getAssignees().containsValue('noassignee')}">&times;</span> <!--/*${t.chkEditAuth(myMid, t)}*/-->
                                                        </div>
                                                    </div>
                                                    <!--/*검색하여 추가히기, 배정안된멤버목록은 '작성자'에게만 출력된다. */-->
                                                    <div class="검색하여추가하기 findByName-member-to-assign top-line pd-t10" th:classappend="${t.getAuthorMid() != myMid}?'hide'">
                                                        <input type="text" class="font-12 input-findByName-toAssign" placeholder="배정할 멤버 검색">
                                                        <button type="button" class="btn-findByName-member-to-assign" data-view="status"
                                                                th:attr="data-executormid=${myMid}, data-authormid=${t.getAuthorMid()}, data-taskid=${t.getId()}, data-projectid=${projectId}">검색</button>
                                                    </div>
                                                    <div class="배정안된멤버목록 unassigned-member-list hide">
                                                        <!--                              <div class="개별멤버box unassigned-member" data-view="status"-->
                                                        <!--                                   th:attr="data-executormid=${myMid}, data-taskid=${t.getId()}, data-projectid=${projectId}, data-authormid=${t.getAuthorMid()}"-->
                                                        <!--                                   th:each="unassingedMember : ${t.unassignedMember(memberList, t.getAssignees())}">-->
                                                        <!--                                <p class="div-inline-block" th:text="${unassingedMember.value}" th:attr="data-mid=${unassingedMember.key}">브래드 피트</p>-->
                                                        <!--                              </div>-->
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/* 해당 할 일의 작성자나 담당자가 아닌 경우: 계획중일 때까지만 '참여하기'버튼이 출력된다. */-->
                                            <th:block th:if="${!t.chkEditAuth(myMid, t)} and ${t.getTaskStatus() < 3}">
                                                <div class="참여하기 mr-5 btn-bePartOf-task opacity0" data-view="status" th:attr="data-mid=${myMid}, data-nickname=${myNickname}, data-projectid=${projectId}, data-taskid=${t.getId()}, data-status=${t.getTaskStatus()}">
                                                    <span class="font-11">참여하기</span>
                                                </div>
                                            </th:block>
                                            <!--/* 해당 할 일의 작성자인 경우: '담당자관리'버튼이 출력된다. */-->
                                            <th:block th:if="${t.getAuthorMid() == myMid}"> <!--/*and ${t.getTaskStatus() < 5}, t.chkEditAuth(myMid, t)*/-->
                                                <div class="statusview담당자관리 btn-add-assignee mr-5">
                                                    <span class="font-11">담당자관리</span>
                                                </div>
                                            </th:block>
                                            <!--/* 해당 할 일의 담당자인 경우: 검토중일 때까지 '참여취소'버튼이 출력된다. */-->
                                            <th:block th:if="${!(t.getAuthorMid() == myMid)} and ${t.chkAssigned(myMid, t)} and ${t.getTaskStatus() < 5}"> <!--/*t.chkEditAuth(myMid, t)*/-->
                                                <div class="statusview참여취소 btn-cancel-participation mr-5" th:attr="data-mid=${myMid}, data-nickname=${myNickname}, data-projectid=${projectId}, data-taskid=${t.getId()}, data-status=${t.getTaskStatus()}">
                                                    <span class="font-11">참여취소</span>
                                                </div>
                                            </th:block>
                                        </div>
                                    </div> <!-- End of <div class="statusview-task-box"> -->
                                </th:block>
                            </div> <!-- End of <div class="statusview-type-board"> -->
                        </div> <!-- End of <div class="statusview-type-box"> -->
                    </th:block>
                </th:block>

            </th:block>

        </div> <!-- End of <div class="flex-row-start-nowrap ml-5"> -->
        <!-- status view: content ends -->
    </div><!-- End of <div class="wrapper mb-20"> -->
</div> <!-- End of #status-view div -->
</body>
</html>