<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task - 상세</title>
  <link rel="icon" type="image/x-icon" href="/imgs/icons8-octaedro-32.png">
</head>
<body>
  <div id="container-task-detail" class="modal-container hide" th:fragment="taskDetail(loginMember, taskDetail)">
  <!-- 할 일 상세 시작 -->
  <div class="modal-Right flex-col-start-nowrap">
    <!-- sticky 시작-->
    <div class="sticky">
      <div class="상단닫기버튼 flex-row-end-center-nowrap">
        <span class="btn-close font-24 btn-close-modal-createTask mr-10 cursorP btn-close-modal-taskDetail">&times;</span>
      </div>
      <div class="할일상세탭메뉴 flex-row-justify-start-align-center mb-20 mt_10 bottom-line">
        <div id="task-tab-info" class="btn-modal-task-tab"><span class="">할 일 상세</span></div><!--  task-tab-chosen-->
        <div id="task-tab-comment" class="btn-modal-task-tab "><span class="">소통하기</span></div>
        <div id="task-tab-history" class="btn-modal-task-tab"><span class="">진행내역</span></div>
        <div id="task-tab-file" class="btn-modal-task-tab"><span class="">파일</span></div>
      </div><!-- 할일상세탭메뉴 끝 -->

      <!-- 할 일 상세 수정 form 시작 -->
      <form action="#" method="POST" id="edit-task" class="task-tab-info modal-task-tab" enctype="multipart/form-data" th:with="idx=0">
        <div class="할일제목 flex-row-justify-start-align-center bottom-line mt-14 mb-30 pd-b5">
          <img src="/imgs/icon_parentTask24.png" alt="parentTask" class="ml-10">
          <img src="/imgs/icon_childTask24.png" alt="childTask" class="ml-10 hide">

          <input type="text" class="modal-edit-task" name="" max="20" value="해내보자" th:value="${taskDetail.get(idx).getTaskTitle()}">

        </div><!-- 할일제목 끝 -->

        <div class="할일중요도 flex-row-justify-start-align-center mb-30 fb-1672" th:classappend="${loginMember.position == 'member'}?'hide'">
          <span class="font-15 c411">중요도</span>
          <div class="">
            <input type="radio" id="edit-vip" name="task_priority" value="1" class="input-radio hide">
            <input type="radio" id="edit-ip" name="task_priority" value="2" class="input-radio hide">
            <input type="radio" id="edit-norm" name="task_priority" value="3" class="input-radio hide" checked="checked">
            <div class="">
              <label for="edit-vip" class="btn-radio w100 radio-l">
                <span class="font-15 vip">매우중요</span>
              </label><label for="edit-ip" class="btn-radio w100">
              <span class="font-15 ip">중요</span>
            </label><label for="edit-norm" class="btn-radio w100 radio-r">
              <span class="font-15 norm">일반</span>
            </label>
            </div>
          </div>
        </div><!-- 할일중요도 끝 -->

        <div class="작성자 fb-1672 flex-row-justify-start-align-center mb-30">
          <span class="font-15 c411">작성자</span>
          <div class="">
            <span class="font-18" th:text="${taskDetail.get(idx).getAuthorName()}">올리 초이</span>
          </div>
        </div><!-- 작성자 끝 -->

        <div class="작성일 fb-1672 flex-row-justify-start-align-center mb-30">
          <span class="font-15 c411">작성일</span>
          <div class="">
            <span class="font-18 altivo-regular" th:text="${#temporals.format(taskDetail.get(idx).getCreatedAt(), 'MM.dd ')}">24.04.08</span>
            <span class="" th:text="${#temporals.dayOfWeekNameShort(taskDetail.get(idx).getCreatedAt())}">(월)</span>
          </div>
        </div> <!-- 작성일 끝 -->

        <div class="담당자배정 flex-row-start-nowrap mb-30 fb-1672">
          <span class="font-15 c411 alignCenter">담당자</span>
          <div class="vertical-ctrl01">
            <div class="ul과checkbox로test bottom-line350">

              <!-- 선택된 담당자가 담길 box -->
              <!-- edit: 선택된 담당자가 이미 있을 경우 추가 요망 -->
              <div id="edit-chosens-boxes" class="hide pd-b5">
              </div>

              <!-- 담당자 선택 전 -->
              <!-- edit: 선택된 담당자가 이미 있을 경우 추가 요망 -->
              <div id="edit-assignee-before-choose" class="assignee-display mb-5">
                <span id="edit-assign-indication" class="ml-3">담당자 배정하기(프로젝트 멤버 목록)</span>
              </div>

              <!-- 프로젝트 멤버 목록 -->
              <!-- edit:
                1) 이미 선택된 담당자 목록에서 제외
                2) 진행상태별 삭제버튼 출력 구별
                3) 작성자/관리자/당사자별 삭제버튼 출력 구별 -->
              <div id="edit-assignee-list" class="hide">
                <input type="checkbox" class="hide" name="" value="로스 겔러" id="edit-assignee1"><label for="edit-assignee1" class="display-block lists ">로스 겔러</label>
                <input type="checkbox" class="hide" name="" value="레이첼 그린" id="edit-assignee2"><label for="edit-assignee2" class="display-block lists">레이첼 그린</label>
                <input type="checkbox" class="hide" name="" value="챈들러 빙" id="edit-assignee3"><label for="edit-assignee3" class="display-block lists">챈들러 빙</label>
                <input type="checkbox" class="hide" name="" value="모니카 겔러" id="edit-assignee4"><label for="edit-assignee4" class="display-block lists">모니카 겔러</label>
                <input type="checkbox" class="hide" name="" value="피비 부페이" id="edit-assignee5"><label for="edit-assignee5" class="display-block lists">피비 부페이</label>
                <input type="checkbox" class="hide" name="" value="조이 트리비아니" id="edit-assignee6"><label for="edit-assignee6" class="display-block lists">조이 트리비아니</label>
                <input type="checkbox" class="hide" name="" value="Adele" id="edit-assignee7"><label for="edit-assignee7" class="display-block lists">Adele</label>
              </div>
            </div>
          </div>
          <img src="/imgs/icon_down127.png" id="edit-show-assignee-list" alt="show list" class="alignCenter cursorP">
        </div><!-- 담당자배정 끝 -->

        <!-- edit:
            1) 세부항목 있을 경우, 진행상태 없음으로 출력
            2) 세부항목 있을 경우, 세부항목 목록 출력
            3) 세부항목 열었을 경우, 상위항목 출력...
            - 상위 항목의 일시정지, 삭제는 세부항목에도 영향.
        -->
        <div class="진행상태 flex-row-justify-start-align-center mb-30 fb-1672">
          <span class="font-15 c411">진행상태</span>
          <div class="hasChild font-blur">
            <span class="font-15">세부 항목으로 나눠진 일은 진행상태가 표시되지 않습니다.</span>
          </div>
          <div class="noChild hide">
            <input type="radio" id="task-status-notYet" name="task_status" value="0" class="input-radio-status hide">
            <input type="radio" id="task-status-planning" name="task_status" value="1" class="input-radio-status hide">
            <input type="radio" id="task-status-ing" name="task_status" value="2" class="input-radio-status hide">
            <input type="radio" id="task-status-review" name="task_status" value="3" class="input-radio-status hide">
            <input type="radio" id="task-status-done" name="task_status" value="4" class="input-radio-status hide">
            <div class="">
              <label for="task-status-notYet" class="btn-radio btn-edit-status radio-l">
                <span class="font-11">시작 안 함</span>
              </label><label for="task-status-planning" class="btn-radio btn-edit-status">
              <span class="font-11">계획중</span>
            </label><label for="task-status-ing" class="btn-radio btn-edit-status">
              <span class="font-11">진행중</span>
            </label><label for="task-status-review" class="btn-radio btn-edit-status">
              <span class="font-11">검토중</span>
            </label><label for="task-status-done" class="btn-radio btn-edit-status radio-r">
              <span class="font-11">완료</span>
            </label>
            </div>
          </div>
          <button type="button" class="btn-task-pause">
            <span class="font-white pause-font">||</span>
          </button>
          <button type="button" class="border-dash-red hide"><img src="/imgs/icon_task_status_bin(red).png" alt="delete" class=""></button>
        </div><!-- 진행상태 끝 -->

        <div class="할일마감일 flex-row-justify-start-align-center mb-30 fb-1672">
          <span class="font-15 c411">마감일</span>
          <div class="">
            <div class="bottom-line200">
              <input type="date" id="task-dueDate" name="task-dueDate" class="altivo-light">
            </div>
          </div>
        </div><!-- 할일마감일 끝 -->

        <!-- A담당자가 할일상세/status view/assignee view 열람하는 중에
          수정권한이 다른 담당자(B)가 세부항목을 추가했을 경우
          >> status view는 세부항목만 출력(상위는 status를 잃으니까.)
          >> assignee view도 크게 영향 없을 듯..?
          table view에서 하위 task를 열면 담당자별로 정렬되도록 해야하는데, 하위task도 담당자가 여러명일 수 있잖아? -->
        <!-- 세부항목으로 나누기 시작 -->
        <div class="세부항목(childTask) flex-row-justify-start-align-center fb-1672 mb-30">
          <span class="font-15 c411">세부항목</span>
          <span class="font-15 c411 hide">상위항목</span>

          <div class=""> <!-- 이 div가 사라지면 숨겨진 메뉴가 위치가 맞지 않음... -->
            <div class="세부항목으로나누기버튼 hide">
              <button type="button" id="btn-add-child-task" class="flex-row-center-center-nowrap btn-blur btn-divide-task">
                <img src="/imgs/icon_divide_sub.png" alt="세부항목으로나누기" class="">
                <span class="ml-7">세부 항목으로 나누기</span>
              </button>
            </div><!-- 세부항목으로나누기버튼 끝 -->

            <div class="flex-row-justify-start-align-center"> <!--childTask-display 없어도 된..다? 왜? -->
              <div class="flex-row-between-nowrap">
                <span class="font-blur hide">세부 항목이 없습니다.</span>
                <div class="flex-row-between-nowrap pd-b3 bottom-line350">
                  <span class="세부항목할일명 childTask-title ml-5">아무리 생각해도 not null을 아무리 생각해도 NOT NULL을</span>
                  <div class="세부항목진행상태div mr-5 pd-a3 childTask-status-box not-yet font-white flex-row-center-center-nowrap">
                    <span class="진행상태명 font-11">시작안함</span>
                  </div>
                </div>
              </div>
              <img src="/imgs/icon_down127.png" alt="more" id="btn-show-childTasks" class="ml-7 cursorP">
            </div><!-- 상위/세부항목목록출력창 끝 -->

            <div id="childTask-list" class="hide">
              <div class="flex-row-between-nowrap lists">
                <span class="세부항목할일명 childTask-title">사랑이겠죠 또 다른 말로는 표현할 수가 없죠</span>
                <div class="세부항목진행상태div mr-5 pd-a3 childTask-status-box not-yet flex-row-center-center-nowrap">
                  <span class="진행상태명 font-11">시작안함</span>
                </div>
              </div>
              <div class="flex-row-between-nowrap lists">
                <span class="세부항목할일명 childTask-title">지금 곁에서 딴 생각에 잠겨 걷고 있는 그대</span>
                <div class="세부항목진행상태div mr-5 pd-a3 childTask-status-box done font-white flex-row-center-center-nowrap">
                  <span class="진행상태명 font-11">완료</span>
                </div>
              </div>
              <div class="flex-row-between-nowrap lists">
                <span class="세부항목할일명 childTask-title">tell me that you love me that I can not stand</span>
                <div class="세부항목진행상태div mr-5 pd-a3 childTask-status-box planning flex-row-center-center-nowrap">
                  <span class="진행상태명 font-11">계획중</span>
                </div>
              </div>
              <div class="flex-row-between-nowrap lists">
                <span class="세부항목할일명 childTask-title">언젠가 무지개 저 너머에 우리가 찾던 꿈 거기 없다 해도</span>
                <div class="세부항목진행상태div mr-5 pd-a3 childTask-status-box ing font-white flex-row-center-center-nowrap">
                  <span class="진행상태명 font-11">진행중</span>
                </div>
              </div>
            </div><!-- 상위/세부항목목록 끝 -->
          </div>
        </div> <!-- 세부항목으로 나누기 끝 -->

        <div class="확인(할일상세수정버튼) flex-row-center-center-nowrap mt-60 mb-5">
          <button type="submit" form="edit-task" class="btn-large-ok done font-white">확인</button>
          <button type="button" class="btn-large btn-blur btn-close-modal-taskDetail">닫기</button>
        </div>
      </form> <!-- 할 일 상세 수정 form 끝 -->

      <!-- 공통(소통·진행내역·파익): 할 일 명, 작성자, 담당자 시작 -->
      <!-- 나한테 parent-id에 값이 없다(있다면 나는 child)
        → 전체 task list에서 나를 parent로 갖고 있는 task가 있는가 (있다면 나는 parent, 없다면 나는 빛이나는 solo)-->
      <div id="task-detail-common" class="공통내용(할일명작성자담당자)div modal-task-tab bottom-line-subtle mb-20 hide">
        <div class="할일명 flex-row-between-nowrap mb-15 pd-b5 bottom-line-subtle">
          <div class="flex-row-justify-start-align-center">
            <img src="/imgs/icon_parentTask24.png" alt="parentTask" class="ml-7 img-18 hide">
            <img src="/imgs/icon_childTask24.png" alt="childTask" class="ml-7 img-18 hide">
            <span class="ml-7 font-18 modal-task-title-small">테이블을 따로 만들어야 하는가 안 만들어도 될 것 같은데 지금으로써는</span>

          </div>
          <span class="작성자 ml-5 font-11 modal-task-author">로버트 다우니 주니어</span>
          <img src="/imgs/icon_bell.png" alt="task update alarm" class="mr-5 img-18 cursorP hide">
        </div>

        <div class="담당자 flex-row-start-start-nowrap ml-7 mb-10">
          <span class="font-15 c411 mr-10 noShrink mt-2">담당자</span>
          <div class="">
            <!-- <div class="assignee-chosen-box mr-3">알라딘</div>
            <div class="assignee-chosen-box mr-3">쟈스민</div> -->
            <div class="assignee-chosen-box mr-3 mb-3">헬레나 본햄 카터</div>
            <div class="assignee-chosen-box mr-3 mb-3">크리스토퍼 놀란</div>
            <div class="assignee-chosen-box mr-3 mb-3">로버트 다우니 주니어</div>
            <div class="assignee-chosen-box mr-3 mb-3">에밀리 블런트</div>
            <div class="assignee-chosen-box mr-3 mb-3">존 크래신스키</div>
            <div class="assignee-chosen-box mr-3 mb-3">이적</div>
            <div class="assignee-chosen-box mr-3 mb-3">김연우</div>
            <div class="assignee-chosen-box mr-3 mb-3">윤종신</div>
            <div class="assignee-chosen-box mr-3 mb-3">장항준</div>
            <div class="assignee-chosen-box mr-3 mb-3">제임스서버</div>
          </div>
        </div>
      </div><!-- 공통(소통·진행내역·파익): 할 일 명, 작성자, 담당자 끝 -->

      <!-- 소통하기 시작 -->
      <div id="task-tab-comment-write" class="소통하기글입력영역 task-tab-comment modal-task-tab flex-row-center-center-nowrap bottom-line-subtle mb-10 hide">
        <div class="modal-task-comment-write mb-20">
          <textarea id="task-comment-write-content" class="" maxlength="200" placeholder="이 업무에 대한 진행상황을 간단히 공유합니다(200자 이내)"></textarea>
          <div class="flex-row-between-nowrap bg-efe pd-a10 border-bottom5">
            <div class="flex-row-justify-start-align-center">
              <span class="ml-3 mr-5 font-13 c411 bold">모두확인요청</span>
              <label class="switch" for="task-comment-notice">
                <input type="checkbox" id="task-comment-notice" class="opacity0 wh0">
                <span class="slider"></span>
              </label>
            </div>
            <a href="#" id="btn-submit-comment" class="btn-submit-comment">입력</a>
          </div>
        </div>
      </div> <!-- 소통하기: 글 입력 영역 끝 -->

      <!-- 파일첨부(drag and drop) 시작 (sticky 영역 내부)--><!--flex-row-justify-start-align-center-->
      <div id="task-tab-file-upload" class="파일첨부컨테이너 task-tab-file modal-task-tab flex-row-center-center-nowrap bottom-line-subtle hide">
        <div class="파일첨부영역 dropzone " id="upload-drop-zone">
          <input type="file" id="upload" class="opacity0 wh0">
          <label for="upload" class="flex-col-center">
            <img src="/imgs/upload.png" alt="" class="img-15em mb-5">
            <span class="">클릭하면 파일 첨부 창이 열립니다.</span>
            <span class="">(파일을 끌어와도 첨부됩니다.)</span>
          </label>
        </div>
      </div>
      <!-- 파일첨부(drag and drop) 끝 (sticky 영역 내부)-->
    </div> <!-- sticky 끝-->

    <div id="task-tab-comment-list" class="소통하기글출력영역 task-tab-comment modal-task-tab flex-col-start-nowrap c411 scroll mt-5 hide">
      <!-- 글 하나 박스 시작 -->
      <div class="modal-task-comment-read">
        <div class="modal-task-comment-info-box"><!-- commentInfoBox: 작성자+RR cnt+작성일시+tool box -->
          <div class="작성자와RR확인 flex-row-justify-start-align-center">
            <span class="작성자 commentWriter">고윤정</span>
            <div class="RR확인 flex-row-justify-start-align-center">
              <img src="/imgs/icon_chatRR.png" alt="comment required read" class="img-2520 mr-5">
              <span class="font-12">확인</span>
              <span class="comment-notice-chk-cnt">3</span>
              <span class="font-12">미확인</span>
              <span class="altivo-light">2</span>
            </div>
          </div>
          <div class="작성일시와tool mr-15 flex-row-justify-start-align-center">
            <span class="날짜 altivo-regular mr-5">24.02.14 17:50</span>
            <div class="btn-comment-edit-del cursorP"><!-- tool버튼과 기능 시작 -->
              <img src="/imgs/icon_3dot.png" alt="mycomment edit or delete" class="">
              <div class="click-comment-edit-del img-hidden">
                <p class="btn-comment-edit">
                  <img src="/imgs/icon_write.png" alt="edit comment" class="img-1718 mr-3">
                  <span class="">수정하기</span>
                </p>
                <p class="flex-row-center-center-nowrap btn-comment-del">
                  <img src="/imgs/icon_bin98.png" alt="delete comment" class="img-1718 mr-3">
                  <span class="">삭제하기</span>
                </p>
              </div>
              <div class="popupYN img-hidden"> <!-- 삭제 confirm 창-->
                <span class="">정말로 삭제하시겠습니까?</span>
                <div class="flex-row-center-center-nowrap mt-20">
                  <p class="btn-confirm-yes">확인</p>
                  <p class="btn-confirm-no">취소</p>
                </div>
              </div><!-- 삭제 confirm 창 끝 -->
            </div><!-- tool버튼과 기능 끝 -->
          </div><!-- 작성일시와tool 끝 -->
        </div> <!-- commentInfoBox: 작성자+RR cnt+작성일시+tool box 끝-->
        <div class="작성내용 task-comment-content"> <!-- commentContetn 시작 -->
          <textarea maxlength="200" readonly class="btn-test">그대랑 함께 갈래요 꼭 끌어안고 갈래요 서로에게 서로라면 더할 나위가 없어요 오싹한 낭떠러지도 뜨거운 불구덩이도 상관없어요 두렵지 않아요 이젠 내 손 잡아줘요</textarea>
        </div><!-- commentContent 끝 -->
        <div class="내용확인수정삭제버튼박스 flex-row-end-center-nowrap hide"><!-- commentBottomBtnBox: 등록/취소, RR내용확인 btn-->
          <div class="flex-row-justify-start-align-center mr-15">
            <span class="btn-comment-edit-submit">등록</span>
            <span class="btn-comment-edit-cancel">취소</span>
          </div>
          <button type="button" class="btn-comment-notice-check hide">내용확인</button>
        </div><!-- commentBottomBtnBox: 내용확인수정삭제버튼박스 끝-->
      </div> <!-- 글 하나 박스 끝 -->
      <!-- 글 하나 박스 시작 -->
      <div class="modal-task-comment-read">
        <div class="modal-task-comment-info-box"><!-- commentInfoBox: 작성자+RR cnt+작성일시+tool box -->
          <div class="작성자와RR확인 flex-row-justify-start-align-center">
            <span class="작성자 commentWriter">고윤정</span>
            <div class="RR확인 flex-row-justify-start-align-center">
              <img src="/imgs/icon_chatRR.png" alt="comment required read" class="img-2520 mr-5">
              <span class="font-12">확인</span>
              <span class="comment-notice-chk-cnt">3</span>
              <span class="font-12">미확인</span>
              <span class="altivo-light">2</span>
            </div>
          </div>
          <div class="작성일시와tool mr-15 flex-row-justify-start-align-center">
            <span class="날짜 altivo-regular mr-5">24.02.14 17:50</span>
            <div class="btn-comment-edit-del cursorP"><!-- tool버튼과 기능 시작 -->
              <img src="/imgs/icon_3dot.png" alt="mycomment edit or delete" class="">
              <div class="click-comment-edit-del img-hidden">
                <p class="btn-comment-edit">
                  <img src="/imgs/icon_write.png" alt="edit comment" class="img-1718 mr-3">
                  <span class="">수정하기</span>
                </p>
                <p class="flex-row-center-center-nowrap btn-comment-del">
                  <img src="/imgs/icon_bin98.png" alt="delete comment" class="img-1718 mr-3">
                  <span class="">삭제하기</span>
                </p>
              </div>
              <div class="popupYN img-hidden"> <!-- 삭제 confirm 창-->
                <span class="">정말로 삭제하시겠습니까?</span>
                <div class="flex-row-center-center-nowrap mt-20">
                  <p class="btn-confirm-yes">확인</p>
                  <p class="btn-confirm-no">취소</p>
                </div>
              </div><!-- 삭제 confirm 창 끝 -->
            </div><!-- tool버튼과 기능 끝 -->
          </div><!-- 작성일시와tool 끝 -->
        </div> <!-- commentInfoBox: 작성자+RR cnt+작성일시+tool box 끝-->
        <div class="작성내용 task-comment-content"> <!-- commentContetn 시작 -->
          <textarea maxlength="200" readonly class="btn-test">그대랑 함께 갈래요 꼭 끌어안고 갈래요 서로에게 서로라면 더할 나위가 없어요 오싹한 낭떠러지도 뜨거운 불구덩이도 상관없어요 두렵지 않아요 이젠 내 손 잡아줘요</textarea>
        </div><!-- commentContetn 끝 -->
        <div class="내용확인수정삭제버튼박스 flex-row-end-center-nowrap hide"><!-- commentBottomBtnBox: 등록/취소, RR내용확인 btn-->
          <div class="flex-row-justify-start-align-center mr-15">
            <span class="btn-comment-edit-submit">등록</span>
            <span class="btn-comment-edit-cancel">취소</span>
          </div>
          <button type="button" class="btn-comment-notice-check hide">내용확인</button>
        </div><!-- commentBottomBtnBox: 내용확인수정삭제버튼박스 끝-->
      </div> <!-- 글 하나 박스 끝 -->
      <!-- 글 하나 박스 시작 -->
      <div class="modal-task-comment-read">
        <div class="modal-task-comment-info-box"><!-- commentInfoBox: 작성자+RR cnt+작성일시+tool box -->
          <div class="작성자와RR확인 flex-row-justify-start-align-center">
            <span class="작성자 commentWriter">고윤정</span>
            <div class="RR확인 flex-row-justify-start-align-center">
              <img src="/imgs/icon_chatRR.png" alt="comment required read" class="img-2520 mr-5">
              <span class="font-12">확인</span>
              <span class="comment-notice-chk-cnt">3</span>
              <span class="font-12">미확인</span>
              <span class="altivo-light">2</span>
            </div>
          </div>
          <div class="작성일시와tool mr-15 flex-row-justify-start-align-center">
            <span class="날짜 altivo-regular mr-5">24.02.14 17:50</span>
            <div class="btn-comment-edit-del cursorP"><!-- tool버튼과 기능 시작 -->
              <img src="/imgs/icon_3dot.png" alt="mycomment edit or delete" class="">
              <div class="click-comment-edit-del img-hidden">
                <p class="btn-comment-edit">
                  <img src="/imgs/icon_write.png" alt="edit comment" class="img-1718 mr-3">
                  <span class="">수정하기</span>
                </p>
                <p class="flex-row-center-center-nowrap btn-comment-del">
                  <img src="/imgs/icon_bin98.png" alt="delete comment" class="img-1718 mr-3">
                  <span class="">삭제하기</span>
                </p>
              </div>
              <div class="popupYN img-hidden"> <!-- 삭제 confirm 창-->
                <span class="">정말로 삭제하시겠습니까?</span>
                <div class="flex-row-center-center-nowrap mt-20">
                  <p class="btn-confirm-yes">확인</p>
                  <p class="btn-confirm-no">취소</p>
                </div>
              </div><!-- 삭제 confirm 창 끝 -->
            </div><!-- tool버튼과 기능 끝 -->
          </div><!-- 작성일시와tool 끝 -->
        </div> <!-- commentInfoBox: 작성자+RR cnt+작성일시+tool box 끝-->
        <div class="작성내용 task-comment-content"> <!-- commentContetn 시작 -->
          <textarea maxlength="200" readonly class="btn-test">그대랑 함께 갈래요 꼭 끌어안고 갈래요 서로에게 서로라면 더할 나위가 없어요 오싹한 낭떠러지도 뜨거운 불구덩이도 상관없어요 두렵지 않아요 이젠 내 손 잡아줘요</textarea>
        </div><!-- commentContetn 끝 -->
        <div class="내용확인수정삭제버튼박스 flex-row-end-center-nowrap hide"><!-- commentBottomBtnBox: 등록/취소, RR내용확인 btn-->
          <div class="flex-row-justify-start-align-center mr-15">
            <span class="btn-comment-edit-submit">등록</span>
            <span class="btn-comment-edit-cancel">취소</span>
          </div>
          <button type="button" class="btn-comment-notice-check hide">내용확인</button>
        </div><!-- commentBottomBtnBox: 내용확인수정삭제버튼박스 끝-->
      </div> <!-- 글 하나 박스 끝 -->
      <!-- 글 하나 박스 시작 -->
      <div class="modal-task-comment-read">
        <div class="modal-task-comment-info-box"><!-- commentInfoBox: 작성자+RR cnt+작성일시+tool box -->
          <div class="작성자와RR확인 flex-row-justify-start-align-center">
            <span class="작성자 commentWriter">고윤정</span>
            <div class="RR확인 flex-row-justify-start-align-center">
              <img src="/imgs/icon_chatRR.png" alt="comment required read" class="img-2520 mr-5">
              <span class="font-12">확인</span>
              <span class="comment-notice-chk-cnt">3</span>
              <span class="font-12">미확인</span>
              <span class="altivo-light">2</span>
            </div>
          </div>
          <div class="작성일시와tool mr-15 flex-row-justify-start-align-center">
            <span class="날짜 altivo-regular mr-5">24.02.14 17:50</span>
            <div class="btn-comment-edit-del cursorP"><!-- tool버튼과 기능 시작 -->
              <img src="/imgs/icon_3dot.png" alt="mycomment edit or delete" class="">
              <div class="click-comment-edit-del img-hidden">
                <p class="btn-comment-edit">
                  <img src="/imgs/icon_write.png" alt="edit comment" class="img-1718 mr-3">
                  <span class="">수정하기</span>
                </p>
                <p class="flex-row-center-center-nowrap btn-comment-del">
                  <img src="/imgs/icon_bin98.png" alt="delete comment" class="img-1718 mr-3">
                  <span class="">삭제하기</span>
                </p>
              </div>
              <div class="popupYN img-hidden"> <!-- 삭제 confirm 창-->
                <span class="">정말로 삭제하시겠습니까?</span>
                <div class="flex-row-center-center-nowrap mt-20">
                  <p class="btn-confirm-yes">확인</p>
                  <p class="btn-confirm-no">취소</p>
                </div>
              </div><!-- 삭제 confirm 창 끝 -->
            </div><!-- tool버튼과 기능 끝 -->
          </div><!-- 작성일시와tool 끝 -->
        </div> <!-- commentInfoBox: 작성자+RR cnt+작성일시+tool box 끝-->
        <div class="작성내용 task-comment-content"> <!-- commentContetn 시작 -->
          <textarea maxlength="200" readonly class="btn-test">그대랑 함께 갈래요 꼭 끌어안고 갈래요 서로에게 서로라면 더할 나위가 없어요 오싹한 낭떠러지도 뜨거운 불구덩이도 상관없어요 두렵지 않아요 이젠 내 손 잡아줘요</textarea>
        </div><!-- commentContetn 끝 -->
        <div class="내용확인수정삭제버튼박스 flex-row-end-center-nowrap hide"><!-- commentBottomBtnBox: 등록/취소, RR내용확인 btn-->
          <div class="flex-row-justify-start-align-center mr-15">
            <span class="btn-comment-edit-submit">등록</span>
            <span class="btn-comment-edit-cancel">취소</span>
          </div>
          <button type="button" class="btn-comment-notice-check hide">내용확인</button>
        </div><!-- commentBottomBtnBox: 내용확인수정삭제버튼박스 끝-->
      </div> <!-- 글 하나 박스 끝 -->
      <!-- 글 하나 박스 시작 -->
      <div class="modal-task-comment-read">
        <div class="modal-task-comment-info-box"><!-- commentInfoBox: 작성자+RR cnt+작성일시+tool box -->
          <div class="작성자와RR확인 flex-row-justify-start-align-center">
            <span class="작성자 commentWriter">고윤정</span>
            <div class="RR확인 flex-row-justify-start-align-center">
              <img src="/imgs/icon_chatRR.png" alt="comment required read" class="img-2520 mr-5">
              <span class="font-12">확인</span>
              <span class="comment-notice-chk-cnt">3</span>
              <span class="font-12">미확인</span>
              <span class="altivo-light">2</span>
            </div>
          </div>
          <div class="작성일시와tool mr-15 flex-row-justify-start-align-center">
            <span class="날짜 altivo-regular mr-5">24.02.14 17:50</span>
            <div class="btn-comment-edit-del cursorP"><!-- tool버튼과 기능 시작 -->
              <img src="/imgs/icon_3dot.png" alt="mycomment edit or delete" class="">
              <div class="click-comment-edit-del img-hidden">
                <p class="btn-comment-edit">
                  <img src="/imgs/icon_write.png" alt="edit comment" class="img-1718 mr-3">
                  <span class="">수정하기</span>
                </p>
                <p class="flex-row-center-center-nowrap btn-comment-del">
                  <img src="/imgs/icon_bin98.png" alt="delete comment" class="img-1718 mr-3">
                  <span class="">삭제하기</span>
                </p>
              </div>
              <div class="popupYN img-hidden"> <!-- 삭제 confirm 창-->
                <span class="">정말로 삭제하시겠습니까?</span>
                <div class="flex-row-center-center-nowrap mt-20">
                  <p class="btn-confirm-yes">확인</p>
                  <p class="btn-confirm-no">취소</p>
                </div>
              </div><!-- 삭제 confirm 창 끝 -->
            </div><!-- tool버튼과 기능 끝 -->
          </div><!-- 작성일시와tool 끝 -->
        </div> <!-- commentInfoBox: 작성자+RR cnt+작성일시+tool box 끝-->
        <div class="작성내용 task-comment-content"> <!-- commentContetn 시작 -->
          <textarea maxlength="200" readonly class="btn-test">그대랑 함께 갈래요 꼭 끌어안고 갈래요 서로에게 서로라면 더할 나위가 없어요 오싹한 낭떠러지도 뜨거운 불구덩이도 상관없어요 두렵지 않아요 이젠 내 손 잡아줘요</textarea>
        </div><!-- commentContetn 끝 -->
        <div class="내용확인수정삭제버튼박스 flex-row-end-center-nowrap hide"><!-- commentBottomBtnBox: 등록/취소, RR내용확인 btn-->
          <div class="flex-row-justify-start-align-center mr-15">
            <span class="btn-comment-edit-submit">등록</span>
            <span class="btn-comment-edit-cancel">취소</span>
          </div>
          <button type="button" class="btn-comment-notice-check hide">내용확인</button>
        </div><!-- commentBottomBtnBox: 내용확인수정삭제버튼박스 끝-->
      </div> <!-- 글 하나 박스 끝 -->
      <!-- 글 하나 박스 시작 -->
      <div class="modal-task-comment-read">
        <div class="modal-task-comment-info-box"><!-- commentInfoBox: 작성자+RR cnt+작성일시+tool box -->
          <div class="작성자와RR확인 flex-row-justify-start-align-center">
            <span class="작성자 commentWriter">고윤정</span>
            <div class="RR확인 flex-row-justify-start-align-center">
              <img src="/imgs/icon_chatRR.png" alt="comment required read" class="img-2520 mr-5">
              <span class="font-12">확인</span>
              <span class="comment-notice-chk-cnt">3</span>
              <span class="font-12">미확인</span>
              <span class="altivo-light">2</span>
            </div>
          </div>
          <div class="작성일시와tool mr-15 flex-row-justify-start-align-center">
            <span class="날짜 altivo-regular mr-5">24.02.14 17:50</span>
            <div class="btn-comment-edit-del cursorP"><!-- tool버튼과 기능 시작 -->
              <img src="/imgs/icon_3dot.png" alt="mycomment edit or delete" class="">
              <div class="click-comment-edit-del img-hidden">
                <p class="btn-comment-edit">
                  <img src="/imgs/icon_write.png" alt="edit comment" class="img-1718 mr-3">
                  <span class="">수정하기</span>
                </p>
                <p class="flex-row-center-center-nowrap btn-comment-del">
                  <img src="/imgs/icon_bin98.png" alt="delete comment" class="img-1718 mr-3">
                  <span class="">삭제하기</span>
                </p>
              </div>
              <div class="popupYN img-hidden"> <!-- 삭제 confirm 창-->
                <span class="">정말로 삭제하시겠습니까?</span>
                <div class="flex-row-center-center-nowrap mt-20">
                  <p class="btn-confirm-yes">확인</p>
                  <p class="btn-confirm-no">취소</p>
                </div>
              </div><!-- 삭제 confirm 창 끝 -->
            </div><!-- tool버튼과 기능 끝 -->
          </div><!-- 작성일시와tool 끝 -->
        </div> <!-- commentInfoBox: 작성자+RR cnt+작성일시+tool box 끝-->
        <div class="작성내용 task-comment-content"> <!-- commentContetn 시작 -->
          <textarea maxlength="200" readonly class="btn-test">그대랑 함께 갈래요 꼭 끌어안고 갈래요 서로에게 서로라면 더할 나위가 없어요 오싹한 낭떠러지도 뜨거운 불구덩이도 상관없어요 두렵지 않아요 이젠 내 손 잡아줘요</textarea>
        </div><!-- commentContetn 끝 -->
        <div class="내용확인수정삭제버튼박스 flex-row-end-center-nowrap hide"><!-- commentBottomBtnBox: 등록/취소, RR내용확인 btn-->
          <div class="flex-row-justify-start-align-center mr-15">
            <span class="btn-comment-edit-submit">등록</span>
            <span class="btn-comment-edit-cancel">취소</span>
          </div>
          <button type="button" class="btn-comment-notice-check hide">내용확인</button>
        </div><!-- commentBottomBtnBox: 내용확인수정삭제버튼박스 끝-->
      </div> <!-- 글 하나 박스 끝 -->
      <!-- 글 하나 박스 시작 -->
      <div class="modal-task-comment-read">
        <div class="modal-task-comment-info-box"><!-- commentInfoBox: 작성자+RR cnt+작성일시+tool box -->
          <div class="작성자와RR확인 flex-row-justify-start-align-center">
            <span class="작성자 commentWriter">고윤정</span>
            <div class="RR확인 flex-row-justify-start-align-center">
              <img src="/imgs/icon_chatRR.png" alt="comment required read" class="img-2520 mr-5">
              <span class="font-12">확인</span>
              <span class="comment-notice-chk-cnt">3</span>
              <span class="font-12">미확인</span>
              <span class="altivo-light">2</span>
            </div>
          </div>
          <div class="작성일시와tool mr-15 flex-row-justify-start-align-center">
            <span class="날짜 altivo-regular mr-5">24.02.14 17:50</span>
            <div class="btn-comment-edit-del cursorP"><!-- tool버튼과 기능 시작 -->
              <img src="/imgs/icon_3dot.png" alt="mycomment edit or delete" class="">
              <div class="click-comment-edit-del img-hidden">
                <p class="btn-comment-edit">
                  <img src="/imgs/icon_write.png" alt="edit comment" class="img-1718 mr-3">
                  <span class="">수정하기</span>
                </p>
                <p class="flex-row-center-center-nowrap btn-comment-del">
                  <img src="/imgs/icon_bin98.png" alt="delete comment" class="img-1718 mr-3">
                  <span class="">삭제하기</span>
                </p>
              </div>
              <div class="popupYN img-hidden"> <!-- 삭제 confirm 창-->
                <span class="">정말로 삭제하시겠습니까?</span>
                <div class="flex-row-center-center-nowrap mt-20">
                  <p class="btn-confirm-yes">확인</p>
                  <p class="btn-confirm-no">취소</p>
                </div>
              </div><!-- 삭제 confirm 창 끝 -->
            </div><!-- tool버튼과 기능 끝 -->
          </div><!-- 작성일시와tool 끝 -->
        </div> <!-- commentInfoBox: 작성자+RR cnt+작성일시+tool box 끝-->
        <div class="작성내용 task-comment-content"> <!-- commentContetn 시작 -->
          <textarea maxlength="200" readonly class="btn-test">그대랑 함께 갈래요 꼭 끌어안고 갈래요 서로에게 서로라면 더할 나위가 없어요 오싹한 낭떠러지도 뜨거운 불구덩이도 상관없어요 두렵지 않아요 이젠 내 손 잡아줘요</textarea>
        </div><!-- commentContetn 끝 -->
        <div class="내용확인수정삭제버튼박스 flex-row-end-center-nowrap hide"><!-- commentBottomBtnBox: 등록/취소, RR내용확인 btn-->
          <div class="flex-row-justify-start-align-center mr-15">
            <span class="btn-comment-edit-submit">등록</span>
            <span class="btn-comment-edit-cancel">취소</span>
          </div>
          <button type="button" class="btn-comment-notice-check hide">내용확인</button>
        </div><!-- commentBottomBtnBox: 내용확인수정삭제버튼박스 끝-->
      </div> <!-- 글 하나 박스 끝 -->
      <!-- 글 하나 박스 시작 -->
      <div class="modal-task-comment-read">
        <div class="modal-task-comment-info-box"><!-- commentInfoBox: 작성자+RR cnt+작성일시+tool box -->
          <div class="작성자와RR확인 flex-row-justify-start-align-center">
            <span class="작성자 commentWriter">고윤정</span>
            <div class="RR확인 flex-row-justify-start-align-center">
              <img src="/imgs/icon_chatRR.png" alt="comment required read" class="img-2520 mr-5">
              <span class="font-12">확인</span>
              <span class="comment-notice-chk-cnt">3</span>
              <span class="font-12">미확인</span>
              <span class="altivo-light">2</span>
            </div>
          </div>
          <div class="작성일시와tool mr-15 flex-row-justify-start-align-center">
            <span class="날짜 altivo-regular mr-5">24.02.14 17:50</span>
            <div class="btn-comment-edit-del cursorP"><!-- tool버튼과 기능 시작 -->
              <img src="/imgs/icon_3dot.png" alt="mycomment edit or delete" class="">
              <div class="click-comment-edit-del img-hidden">
                <p class="btn-comment-edit">
                  <img src="/imgs/icon_write.png" alt="edit comment" class="img-1718 mr-3">
                  <span class="">수정하기</span>
                </p>
                <p class="flex-row-center-center-nowrap btn-comment-del">
                  <img src="/imgs/icon_bin98.png" alt="delete comment" class="img-1718 mr-3">
                  <span class="">삭제하기</span>
                </p>
              </div>
              <div class="popupYN img-hidden"> <!-- 삭제 confirm 창-->
                <span class="">정말로 삭제하시겠습니까?</span>
                <div class="flex-row-center-center-nowrap mt-20">
                  <p class="btn-confirm-yes">확인</p>
                  <p class="btn-confirm-no">취소</p>
                </div>
              </div><!-- 삭제 confirm 창 끝 -->
            </div><!-- tool버튼과 기능 끝 -->
          </div><!-- 작성일시와tool 끝 -->
        </div> <!-- commentInfoBox: 작성자+RR cnt+작성일시+tool box 끝-->
        <div class="작성내용 task-comment-content"> <!-- commentContetn 시작 -->
          <textarea maxlength="200" readonly class="btn-test">그대랑 함께 갈래요 꼭 끌어안고 갈래요 서로에게 서로라면 더할 나위가 없어요 오싹한 낭떠러지도 뜨거운 불구덩이도 상관없어요 두렵지 않아요 이젠 내 손 잡아줘요</textarea>
        </div><!-- commentContetn 끝 -->
        <div class="내용확인수정삭제버튼박스 flex-row-end-center-nowrap hide"><!-- commentBottomBtnBox: 등록/취소, RR내용확인 btn-->
          <div class="flex-row-justify-start-align-center mr-15">
            <span class="btn-comment-edit-submit">등록</span>
            <span class="btn-comment-edit-cancel">취소</span>
          </div>
          <button type="button" class="btn-comment-notice-check hide">내용확인</button>
        </div><!-- commentBottomBtnBox: 내용확인수정삭제버튼박스 끝-->
      </div> <!-- 글 하나 박스 끝 -->

    </div> <!-- 글 출력영역 끝 -->
    <!-- 소통하기 끝 -->

    <!-- 진행내역 시작 -->
    <div class="진행내역컨테이너 task-tab-history modal-task-tab modal-task-history-container flex-col-start-nowrap scroll hide">
      <div class="진행내역하나box modal-task-history-box flex-row-justify-start-align-center">
        <div class="진행내역num altivo-regular">100</div>
        <div class="진행내역내용box flex-col-start-nowrap">
          <div class="진행내역info flex-row-between-nowrap">
            <div class="">
              <span class="진행종류 bold">진행상태</span>
              <span class="진행자 bold">(이효리)</span>
            </div>
            <span class="진행일시 altivo-regular">24.03.31 17:30</span>
          </div>
          <span class="진행내용 font-16">계획중으로 변경</span>
        </div>
      </div><!-- 진행내역하나box 끝-->
      <div class="진행내역하나box modal-task-history-box flex-row-justify-start-align-center">
        <div class="진행내역num altivo-regular">99</div>
        <div class="진행내역내용box flex-col-start-nowrap">
          <div class="진행내역info flex-row-between-nowrap">
            <div class="">
              <span class="진행종류 bold">마감일</span>
              <span class="진행자 bold">(올리초이)</span>
            </div>
            <span class="진행일시 altivo-regular">24.03.31 17:30</span>
          </div>
          <span class="진행내용 font-16">4/30(화)(으)로 변경</span>
        </div>
      </div><!-- 진행내역하나box 끝-->
      <div class="진행내역하나box modal-task-history-box flex-row-justify-start-align-center">
        <div class="진행내역num altivo-regular">98</div>
        <div class="진행내역내용box flex-col-start-nowrap">
          <div class="진행내역info flex-row-between-nowrap">
            <div class="">
              <span class="진행종류 bold">담당자</span>
              <span class="진행자 bold">(이상순)</span>
            </div>
            <span class="진행일시 altivo-regular">24.03.31 17:30</span>
          </div>
          <span class="진행내용 font-16">이효리 배정</span>
        </div>
      </div><!-- 진행내역하나box 끝-->
      <div class="진행내역하나box modal-task-history-box flex-row-justify-start-align-center">
        <div class="진행내역num altivo-regular">97</div>
        <div class="진행내역내용box flex-col-start-nowrap">
          <div class="진행내역info flex-row-between-nowrap">
            <div class="">
              <span class="진행종류 bold">할일명</span>
              <span class="진행자 bold">(이상순)</span>
            </div>
            <span class="진행일시 altivo-regular">24.03.31 17:30</span>
          </div>
          <span class="진행내용 font-16">다시 여기 바닷가(으)로 변경</span>
        </div>
      </div><!-- 진행내역하나box 끝-->
      <div class="진행내역하나box modal-task-history-box flex-row-justify-start-align-center">
        <div class="진행내역num altivo-regular">96</div>
        <div class="진행내역내용box flex-col-start-nowrap">
          <div class="진행내역info flex-row-between-nowrap">
            <div class="">
              <span class="진행종류 bold">담당자</span>
              <span class="진행자 bold">(유재석)</span>
            </div>
            <span class="진행일시 altivo-regular">24.03.31 17:30</span>
          </div>
          <span class="진행내용 font-16">이상순 배정</span>
        </div>
      </div><!-- 진행내역하나box 끝-->
      <div class="진행내역하나box modal-task-history-box flex-row-justify-start-align-center">
        <div class="진행내역num altivo-regular">95</div>
        <div class="진행내역내용box flex-col-start-nowrap">
          <div class="진행내역info flex-row-between-nowrap">
            <div class="">
              <span class="진행종류 bold">담당자</span>
              <span class="진행자 bold">(유재석)</span>
            </div>
            <span class="진행일시 altivo-regular">24.03.31 17:30</span>
          </div>
          <span class="진행내용 font-16">유희열 배정</span>
        </div>
      </div><!-- 진행내역하나box 끝-->
      <div class="진행내역하나box modal-task-history-box flex-row-justify-start-align-center">
        <div class="진행내역num altivo-regular">94</div>
        <div class="진행내역내용box flex-col-start-nowrap">
          <div class="진행내역info flex-row-between-nowrap">
            <div class="">
              <span class="진행종류 bold">담당자</span>
              <span class="진행자 bold">(유재석)</span>
            </div>
            <span class="진행일시 altivo-regular">24.03.31 17:30</span>
          </div>
          <span class="진행내용 font-16">이적 배정</span>
        </div>
      </div><!-- 진행내역하나box 끝-->
      <div class="진행내역하나box modal-task-history-box flex-row-justify-start-align-center">
        <div class="진행내역num altivo-regular">93</div>
        <div class="진행내역내용box flex-col-start-nowrap">
          <div class="진행내역info flex-row-between-nowrap">
            <div class="">
              <span class="진행종류 bold">담당자</span>
              <span class="진행자 bold">(유재석)</span>
            </div>
            <span class="진행일시 altivo-regular">24.03.31 17:30</span>
          </div>
          <span class="진행내용 font-16">윤종신 배정</span>
        </div>
      </div><!-- 진행내역하나box 끝-->
      <div class="진행내역하나box modal-task-history-box flex-row-justify-start-align-center">
        <div class="진행내역num altivo-regular">92</div>
        <div class="진행내역내용box flex-col-start-nowrap">
          <div class="진행내역info flex-row-between-nowrap">
            <div class="">
              <span class="진행종류 bold">담당자</span>
              <span class="진행자 bold">(유재석)</span>
            </div>
            <span class="진행일시 altivo-regular">24.03.31 17:30</span>
          </div>
          <span class="진행내용 font-16">정재형 배정</span>
        </div>
      </div><!-- 진행내역하나box 끝-->
      <div class="진행내역하나box modal-task-history-box flex-row-justify-start-align-center">
        <div class="진행내역num altivo-regular">91</div>
        <div class="진행내역내용box flex-col-start-nowrap">
          <div class="진행내역info flex-row-between-nowrap">
            <div class="">
              <span class="진행종류 bold">담당자</span>
              <span class="진행자 bold">(유재석)</span>
            </div>
            <span class="진행일시 altivo-regular">24.03.31 17:30</span>
          </div>
          <span class="진행내용 font-16">황광희 배정</span>
        </div>
      </div><!-- 진행내역하나box 끝-->
      <div class="진행내역하나box modal-task-history-box flex-row-justify-start-align-center">
        <div class="진행내역num altivo-regular">90</div>
        <div class="진행내역내용box flex-col-start-nowrap">
          <div class="진행내역info flex-row-between-nowrap">
            <div class="">
              <span class="진행종류 bold">담당자</span>
              <span class="진행자 bold">(유재석)</span>
            </div>
            <span class="진행일시 altivo-regular">24.03.31 17:30</span>
          </div>
          <span class="진행내용 font-16">정형돈 배정</span>
        </div>
      </div><!-- 진행내역하나box 끝-->
      <div class="진행내역하나box modal-task-history-box flex-row-justify-start-align-center">
        <div class="진행내역num altivo-regular">89</div>
        <div class="진행내역내용box flex-col-start-nowrap">
          <div class="진행내역info flex-row-between-nowrap">
            <div class="">
              <span class="진행종류 bold">담당자</span>
              <span class="진행자 bold">(유재석)</span>
            </div>
            <span class="진행일시 altivo-regular">24.03.31 17:30</span>
          </div>
          <span class="진행내용 font-16">하동훈 배정</span>
        </div>
      </div><!-- 진행내역하나box 끝-->
      <div class="진행내역하나box modal-task-history-box flex-row-justify-start-align-center">
        <div class="진행내역num altivo-regular">88</div>
        <div class="진행내역내용box flex-col-start-nowrap">
          <div class="진행내역info flex-row-between-nowrap">
            <div class="">
              <span class="진행종류 bold">담당자</span>
              <span class="진행자 bold">(김태호)</span>
            </div>
            <span class="진행일시 altivo-regular">24.03.31 17:30</span>
          </div>
          <span class="진행내용 font-16">유재석 배정</span>
        </div>
      </div><!-- 진행내역하나box 끝-->
      <div class="진행내역하나box modal-task-history-box flex-row-justify-start-align-center">
        <div class="진행내역num altivo-regular">87</div>
        <div class="진행내역내용box flex-col-start-nowrap">
          <div class="진행내역info flex-row-between-nowrap">
            <div class="">
              <span class="진행종류 bold">할일명</span>
              <span class="진행자 bold">(김태호)</span>
            </div>
            <span class="진행일시 altivo-regular">24.03.31 17:30</span>
          </div>
          <span class="진행내용 font-16">2024여름프로젝트(으)로 변경</span>
        </div>
      </div><!-- 진행내역하나box 끝-->
      <div class="진행내역하나box modal-task-history-box flex-row-justify-start-align-center">
        <div class="진행내역num altivo-regular">86</div>
        <div class="진행내역내용box flex-col-start-nowrap">
          <div class="진행내역info flex-row-between-nowrap">
            <div class="">
              <span class="진행종류 bold">할일명</span>
              <span class="진행자 bold">(김태호)</span>
            </div>
            <span class="진행일시 altivo-regular">24.03.31 17:30</span>
          </div>
          <span class="진행내용 font-16">다시여기바닷가2024 등록</span>
        </div>
      </div><!-- 진행내역하나box 끝-->
      <div class="진행내역하나box modal-task-history-box flex-row-justify-start-align-center">
        <div class="진행내역num altivo-regular">85</div>
        <div class="진행내역내용box flex-col-start-nowrap">
          <div class="진행내역info flex-row-between-nowrap">
            <div class="">
              <span class="진행종류 bold">진행상태</span>
              <span class="진행자 bold">(이효리)</span>
            </div>
            <span class="진행일시 altivo-regular">24.03.31 17:30</span>
          </div>
          <span class="진행내용 font-16">계획중으로 변경</span>
        </div>
      </div><!-- 진행내역하나box 끝-->
    </div>
    <!-- 진행내역 끝 -->

    <!-- 파일 목록 시작(sticky 외부) -->
    <!-- 첨부한 사람이 아닌 사람(관리자)이 지운 기록만 history에 남긴다. -->
    <div id="task-tab-file-list" class="파일목록컨테이너 task-tab-file modal-task-tab modal-task-file-list-container flex-col-start-center-nowrap scroll hide">
      <div class="파일공유내역목록 modal-task-file-list-col flex-row-center-center-nowrap c411 mb-3">
        <span class="font-11">첨부일시</span>
        <span class="font-11">올린이</span>
        <span class="font-11">파일</span>
      </div>
      <!-- 파일내역row 시작 -->
      <div class="파일내역row modal-task-file-history-row modal-task-file-list-col flex-row-center-center-nowrap">
        <span class="altivo-light font-13">24.04.11 (목) 11:01</span>
        <span class="font-14">제시카 차스테인</span>
        <div class="파일박스 flex-row-between-nowrap hoverShadow">
          <span class="deletedByAdmin font-blur font-13 hide">관리자에 의해 삭제되었습니다.</span>
          <div class="flex-row-justify-start-align-center">
            <img src="/imgs/icon_download4.png" alt="download" class="img-15 mr-5">
            <span class="modal-file-name">보일듯말듯가물거리는</span>
            <span class="font-14 modal-file-type">.pdf</span>
          </div>
          <div class="flex-row-justify-start-align-center">
            <span class="modal-task-file-size">192KB</span>
            <span class="hoverBigger20 cursorP modal-task-file-del">&times;</span>
          </div>
        </div>
        <div class="deletedByAdminBox hide">
          <span class="deletedByAdmin font-blur font-13">관리자에 의해 삭제되었습니다.</span>
        </div>
      </div> <!-- 파일내역row 끝 -->
      <!-- 파일내역row 시작 -->
      <div class="파일내역row modal-task-file-history-row modal-task-file-list-col flex-row-center-center-nowrap">
        <span class="altivo-light font-13">24.04.12 (금) 11:02</span>
        <span class="font-14">제시카 차스테인</span>
        <div class="파일박스 flex-row-between-nowrap hoverShadow">
          <div class="flex-row-justify-start-align-center">
            <img src="/imgs/icon_download4.png" alt="" class="img-15 mr-5">
            <span class="modal-file-name">보일듯말듯가물거리는</span>
            <span class="font-14 modal-file-type">.pdf</span>
          </div>
          <div class="flex-row-justify-start-align-center">
            <span class="altivo-light font-11 font-blur mr-5">192KB</span>
            <span class="hoverBigger20 cursorP modal-task-file-del">&times;</span>
          </div>
        </div>
        <div class="deletedByAdminBox hide">
          <span class="deletedByAdmin font-blur font-13">관리자에 의해 삭제되었습니다.</span>
        </div>
      </div> <!-- 파일내역row 끝 -->
      <!-- 파일내역row 시작 -->
      <div class="파일내역row modal-task-file-history-row modal-task-file-list-col flex-row-center-center-nowrap">
        <span class="altivo-light font-13">24.04.12 (금) 00:02</span>
        <span class="font-14">가나다라</span>
        <div class="파일박스 flex-row-between-nowrap hoverShadow">
          <div class="flex-row-justify-start-align-center">
            <img src="/imgs/icon_download4.png" alt="" class="img-15 mr-5">
            <span class="modal-file-name">안개속에쌓인길</span>
            <span class="font-14 modal-file-type">.pdf</span>
          </div>
          <div class="flex-row-justify-start-align-center">
            <span class="altivo-light font-11 font-blur mr-5">192KB</span>
            <span class="hoverBigger20 cursorP modal-task-file-del">&times;</span>
          </div>
        </div>
        <div class="deletedByAdminBox hide">
          <span class="deletedByAdmin font-blur font-13">관리자에 의해 삭제되었습니다.</span>
        </div>
      </div> <!-- 파일내역row 끝 -->

    </div><!-- 파일 목록 끝(sticky 외부) -->

  </div> <!-- 할 일 상세(수정, 소통하기, 진행내역, 파일) 끝 -->

</div><!-- 모달 감싸는 컨테이너 끝 -->
</body>
</html>