<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task - 상세</title>
  <link rel="icon" type="image/x-icon" href="../../static/imgs/icons8-octaedro-32.png" th:href="@{/imgs/icons8-octaedro-32.png}">
  <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
  <div id="container-task-detail" class="z3" th:classappend="${!hide}?open" th:fragment="taskDetail(taskDetail, hide, myNickname, myMid, myPosition)"> <!--/*loginMember, , taskCommentForm*/-->
    <!-- 할 일 상세 시작 -->
    <div class="modal-Right flex-col-start-nowrap" >
    <!-- sticky 시작-->
    <div class="sticky">
      <div class="상단닫기버튼 flex-row-end-center-nowrap">
        <span class="btn-close font-24 btn-close-modal-createTask mr-10 cursorP btn-close-modal-taskDetail">&times;</span>
      </div>
      <div class="할일상세탭버튼 flex-row-justify-start-align-center mb-20 mt_10 bottom-line">
        <div id="task-tab-comment" class="btn-modal-task-tab" th:classappend="${taskDetail.getTab() == 'comm'}?'task-tab-chosen'"><span class="">소통하기</span></div>
        <div id="task-tab-history" class="btn-modal-task-tab" th:classappend="${taskDetail.getTab() == 'history'}?'task-tab-chosen'"><span class="">진행내역</span></div>
        <div id="task-tab-file" class="btn-modal-task-tab" th:classappend="${taskDetail.getTab() == 'file'}?'task-tab-chosen'"><span class="">파일</span></div>
      </div><!-- 할일상세탭메뉴 끝 -->

      <!-- 공통(소통·진행내역·파익): 할 일 명, 작성자, 담당자 시작 -->
      <!-- 나한테 parent-id에 값이 없다(있다면 나는 child)
        → 전체 task list에서 나를 parent로 갖고 있는 task가 있는가 (있다면 나는 parent, 없다면 나는 빛이나는 solo)-->
      <div id="task-detail-common" class="공통내용(할일명작성자담당자)div modal-task-tab bottom-line-subtle mb-20">
        <div class="할일명 flex-row-between-nowrap mb-15 pd-b5 bottom-line-subtle">
          <div class="flex-row-justify-start-align-center">
            <img src="/imgs/icon_parentTask24.png" alt="parentTask" class="ml-7 img-18 hide">
            <img src="/imgs/icon_childTask24.png" alt="childTask" class="ml-7 img-18 hide">
            <span class="ml-7 font-18 modal-task-title-small" th:text="${taskDetail.getTaskTitle()}">테이블을 따로 만들어야 하는가 안 만들어도 될 것 같은데 지금으로써는</span>
          </div>
          <div class="flex-row-end-center-nowrap">
            <span class="font-10 ml-5 c411">작성자</span>
            <span class="작성자 ml-5 font-11 modal-task-author" th:text="${taskDetail.getAuthorName()}">로버트 다우니 주니어</span>
            <img src="/imgs/icon_bell.png" alt="task update alarm" class="mr-5 img-18 cursorP hide">
          </div>
        </div>

        <div class="담당자 flex-row-start-start-nowrap ml-7 mb-10" >
          <span class="font-14 c411 mr-10 noShrink mt-2">담당자</span>
          <div class="" th:each="assignee: ${taskDetail.getAssignees()}">
            <div class="assignee-chosen-box mr-3 mb-3" th:text="${assignee.value}">헬레나 본햄 카터</div>
          </div>
        </div>
      </div><!-- 공통(소통·진행내역·파익): 할 일 명, 작성자, 담당자 끝 -->


      <!-- 소통하기 시작 -->
      <div id="task-tab-comment-write" class="소통하기글입력영역 task-tab-comment modal-task-tab flex-row-center-center-nowrap bottom-line-subtle mb-10" th:classappend="${taskDetail.getTab() != 'comm'}?hide">
        <div class="modal-task-comment-write mb-20">
          <textarea id="task-comment-write-content" class="" maxlength="200" placeholder="이 일에 대한 진행상황을 간단히 공유합니다(400자 이내)"></textarea> <!--th:field="${taskCommentForm.comment}"-->
          <div class="flex-row-between-nowrap bg-efe pd-a10 border-bottom5">
            <div class="flex-row-justify-start-align-center">
              <span class="ml-3 mr-5 font-13 c411 bold">중요</span>
              <label class="switch" for="task-comment-notice">
                <input type="checkbox" id="task-comment-notice" name="commentType" class="opacity0 wh0">
                <span class="slider"></span>
              </label>
            </div>
            <button type="button" id="btn-submit-comment" class="btn-submit-comment"
                    th:attr="data-taskid=${taskDetail.getTaskId()}, data-projectid=${taskDetail.getProjectId()},
                    data-authormid=${myMid}, data-authorname=${myNickname}">입력</button>
          </div>
        </div>
      </div> <!-- 소통하기: 글 입력 영역 끝 -->

      <!-- 파일첨부(drag and drop) 시작 (sticky 영역 내부)--><!--flex-row-justify-start-align-center-->
      <div id="task-tab-file-upload" class="파일첨부컨테이너 task-tab-file modal-task-tab flex-row-center-center-nowrap bottom-line-subtle" th:classappend="${taskDetail.getTab() != 'file'}?hide">
        <div class="파일첨부영역 dropzone " id="upload-drop-zone" th:attr="data-taskid=${taskDetail.getTaskId()}, data-projectid=${taskDetail.getProjectId()}, data-uploaderName=${myNickname}, data-uploaderMid=${myMid}">
          <input type="file" id="upload" class="opacity0 wh0">
          <label for="upload" class="flex-col-center">
            <img src="/imgs/upload.png" alt="" class="img-15em mb-5">
            <span class="">클릭하면 파일 첨부 창이 열립니다.</span>
            <span class="">(파일을 끌어와도 첨부됩니다.)</span>
          </label>
        </div>
      </div>
      <!-- 파일첨부(drag and drop) 끝 (sticky 영역 내부)-->
    </div> <!-- sticky 끝-->

    <div id="task-tab-comment-list" class="소통하기글출력영역 task-tab-comment modal-task-tab flex-col-start-nowrap c411 scroll mt-5" th:classappend="${taskDetail.getTab() != 'comm'}?hide">
      <th:block th:if="${taskDetail != null} and ${taskDetail.getTaskComments() != null} and ${taskDetail.getTaskComments().size() == 0}">
        <p class="no-comment">등록된 글이 없습니다.</p>
      </th:block>
      <!-- 글 하나 박스 시작 -->
      <th:block th:each="comment : ${taskDetail.getTaskComments()}">
      <div class="modal-task-comment-read" th:classappend="${comment.getType() == 'notice'}?'task-comment-notice'">
        <div class="modal-task-comment-info-box"><!-- commentInfoBox: 작성자+RR cnt+작성일시+tool box -->
          <div class="작성자와중요 flex-row-justify-start-align-center">
            <span class="작성자 commentWriter" th:text="${comment.getAuthorName()}">고윤정</span>
          </div>
          <div class="작성일시와tool mr-15 flex-row-justify-start-align-center">
            <span class="날짜 altivo-regular mr-5" th:text="${#temporals.format(comment.getCreatedAt(), 'yy.MM.dd HH:mm')}">24.02.14 17:50</span>
            <div class="btn-comment-edit-del" th:attr="data-commentid=${comment.getId()}"><!-- tool버튼과 기능 시작. 여기에 comment id 넣으면 될까? -->
              <img src="/imgs/icon_3dot.png" alt="mycomment edit or delete" class="">
              <div class="click-comment-edit-del img-hidden">
                <p class="btn-comment-edit">
                  <img src="/imgs/icon_write.png" alt="edit comment" class="img-1718 mr-3">
                  <span>수정하기</span>
                </p>
                <p class="flex-row-center-center-nowrap btn-comment-del">
                  <img src="/imgs/icon_bin98.png" alt="delete comment" class="img-1718 mr-3">
                  <span>삭제하기</span>
                </p>
              </div>
              <div class="popupYN img-hidden"> <!-- 삭제 confirm 창-->
                <span class="">정말로 삭제하시겠습니까?</span>
                <div class="flex-row-center-center-nowrap mt-20">
                  <p class="btn-confirm-yes">확인</p>
                  <p class="btn-confirm-no">취소</p>
                </div>
              </div><!-- 삭제 confirm 창 끝 -->
            </div><!-- tool버튼과 기능 끝 -->
          </div><!-- 작성일시와tool 끝 -->
        </div> <!-- commentInfoBox: 작성자(+중요)+작성일시+tool box 끝-->
        <div class="작성내용 task-comment-content"> <!-- commentContetn 시작 -->
          <textarea class="" maxlength="200" th:text="${comment.getComment()}" readonly>그대랑 함께 갈래요 꼭 끌어안고 갈래요 서로에게 서로라면 더할 나위가 없어요 오싹한 낭떠러지도 뜨거운 불구덩이도 상관없어요 두렵지 않아요 이젠 내 손 잡아줘요</textarea>
        </div><!-- commentContent 끝 -->
        <div class="flex-row-between-nowrap">
          <div class="flex-row-justify-start-align-center time-of-edit img-hidden">
            <span class="font-12 altivo-light time-of-edit" th:text="${comment.getModifiedAt() != null}?${comment.getModifiedAt()}"></span>
            <span class="font-12 edit-sign" th:classappend="${comment.getModifiedAt() == null}?'hide'">(수정됨)</span>
          </div>
          <div class="수정확인버튼박스 flex-row-end-center-nowrap confirm-edit hide"><!-- commentBottomBtnBox: 등록/취소, RR내용확인 btn-->
            <div class="flex-row-justify-start-align-center mr-15">
              <span class="btn-comment-edit-submit" th:attr="data-taskid=${taskDetail.getTaskId()}">등록</span>
              <span class="btn-comment-edit-cancel">취소</span>
            </div>
          </div><!-- commentBottomBtnBox: 수정확인버튼박스 끝-->
        </div>
      </div>
        <!-- 글 하나 박스 끝 -->
      </th:block>
    </div> <!-- 글 출력영역 끝 -->
    <!-- 소통하기 끝 -->

    <!-- 진행내역 시작 -->
    <div class="진행내역컨테이너 task-tab-history modal-task-tab modal-task-history-container flex-col-start-nowrap" th:classappend="${taskDetail.getTab() != 'history'}?hide">
      <th:block th:if="${!taskDetail.getTaskHistories().isEmpty()}" th:each="history : ${taskDetail.getTaskHistories()}">
      <div class="진행내역하나box modal-task-history-box flex-row-justify-start-align-center">
        <div class="진행내역num altivo-regular" th:text="${history.getCntN()}">100</div>
        <div class="진행내역내용box flex-col-start-nowrap">
          <div class="진행내역info flex-row-between-nowrap">
            <div class="">
              <span class="진행종류 bold" th:text="${history.getModItem()}">진행상태</span>
              <span class="진행자 bold" th:text="|(${history.getExecutorName()})|">(이효리)</span>
            </div>
            <div>
              <span class="진행일시 altivo-regular" th:text="${#temporals.format(history.getUpdatedAt(), 'yy.MM.dd ')}">24.03.31 </span>
              <span class="진행일시 font-14" th:text="|(${#temporals.dayOfWeekNameShort(history.getUpdatedAt())})|"></span>
              <span class="진행일시 altivo-regular" th:text="${#temporals.format(history.getUpdatedAt(), 'HH:mm')}">17:30</span>
            </div>
          </div>
          <div>
            <span class="진행내용 font-16" th:text="${history.getModContent()}">계획중</span>
            <span class="font-16" th:if="${history.getModType() == '변경'}">(으)로</span>
            <span class="font-16" th:text="${history.getModType()}">등록</span>
          </div>
        </div>
      </div><!-- 진행내역하나box 끝-->
      </th:block>

    </div>
    <!-- 진행내역 끝 -->

    <!-- 파일 목록 시작(sticky 외부) -->
    <!-- 첨부한 사람이 아닌 사람(관리자)이 지운 기록만 history에 남긴다. -->
    <div id="task-tab-file-list" class="파일목록컨테이너 task-tab-file modal-task-tab modal-task-file-list-container flex-col-start-center-nowrap" th:classappend="${taskDetail.getTab() != 'file'}?hide">
      <div class="파일공유내역목록 modal-task-file-list-col flex-row-center-center-nowrap c411 mb-3">
        <span class="font-11">첨부일시</span>
        <span class="font-11">올린이</span>
        <span class="font-11">파일</span>
      </div>
      <!-- 파일내역row 시작 -->
      <th:block th:if="${taskDetail.getTaskFiles() != null} and ${taskDetail.getTaskFiles().isEmpty()}">
        <p class="mt-10 no-file" th:attr="data-taskid=${taskDetail.getTaskId()}">등록된 파일이 없습니다.</p>
      </th:block>
      <th:block th:if="${taskDetail.getTaskFiles() != null}" th:each="file : ${taskDetail.getTaskFiles()}">
        <div class="파일내역row modal-task-file-history-row modal-task-file-list-col flex-row-center-center-nowrap">
          <div class="flex-row-justify-start-align-center">
            <span class="altivo-light font-12" th:text="${#temporals.format(file.getCreatedAt(), 'yy.MM.dd ')}">24.04.11</span>
            <span class="altivo-light font-12" th:text="|&nbsp(${#temporals.dayOfWeekNameShort(file.getCreatedAt())})&nbsp|">(목)</span>
            <span class="altivo-light font-12" th:text="${#temporals.format(file.getCreatedAt(), ' hh:MM')}"> 11:01</span>
          </div>
          <span class="font-14" th:text="${file.getUploaderName()}">제시카 차스테인</span>
<!--          <a th:href="@{|/task/file/${file.getId()}|}">-->
          <div class="파일박스 flex-row-between-nowrap hoverShadow" > <!--/*th:onclick="|location.href='@{|/task/file/${file.getId()}|}'|"*/-->
<!--            <span class="deletedByAdmin font-blur font-13 hide">관리자에 의해 삭제되었습니다.</span>-->
            <div class="flex-row-justify-start-align-center" th:onclick="|location.href='@{|/task/file/${file.getId()}|}'|">
              <img src="/imgs/icon_download4.png" alt="download" class="img-15 mr-5">
              <span class="modal-file-name" th:text="${file.getFileOrigName()}">보일듯말듯가물거리는</span>
              <span class="font-14 modal-file-type" th:text="|.${file.getFileType()}|">.pdf</span>
            </div>
            <div class="flex-row-justify-start-align-center">
              <span class="modal-task-file-size" th:text="${file.getFormattedFileSize()}">192KB</span>
              <span class="hoverBigger20 btn-modal-task-file-del" th:attr="data-fileid=${file.getId()}, data-deletedBy=${file.getMemberId()==myMid}?'uploader':${myMid}" th:if="${file.getMemberId() == myMid} or ${myPosition == 'admin'} or ${myPosition == 'creator'}">&times;</span>
            </div>
          </div>
<!--          </a>-->
          <div class="deletedByAdminBox hide">
            <span class="deletedByAdmin font-blur font-13">관리자에 의해 삭제되었습니다.</span>
          </div>
        </div> <!-- 파일내역row 끝 -->
      </th:block>
    </div><!-- 파일 목록 끝(sticky 외부) -->

    </div> <!-- 할 일 상세(수정, 소통하기, 진행내역, 파일) 끝 -->

  </div><!-- 모달 감싸는 컨테이너 끝 -->

</body>
</html>