<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8">
    <meta name="Author" content="JHCHOI">
    <meta name="Keywords" content="mypage">
    <meta name="Description" content="all projects">

    <title>on track</title>
    <link rel="icon" type="image/x-icon" href="../../static/imgs/icons8-octaedro-32.png" th:href="@{/imgs/icons8-octaedro-32.png}">
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
    <script src="../../static/js/signup.js" th:src="@{/js/signup.js}"></script>

</head>
<body>
    <div class="mt-60 signup-no-vcode">
        <h1 class="signup-no-vcode mb-10" th:text="${errorMsg}">해당 링크는 존재하지 않습니다.</h1>
        <a href="http://localhost:8080">홈으로</a>
        <a href="http://localhost:8080/login">로그인 하러 가기</a>
    </div>
</body>
</html>