<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
 <head th:fragment="header">
  <meta charset="UTF-8">
  <meta name="Author" content="JHCHOI">
  <meta name="Keywords" content="mypage">
  <meta name="Description" content="all projects">

  <title>on track - sign up</title>
  <link rel="icon" type="image/x-icon" href="../../static/imgs/icons8-octaedro-32.png" th:href="@{/imgs/icons8-octaedro-32.png}">
  <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
  <script src="../../static/js/signup.js" th:src="@{/js/signup.js}"></script>
  <!-- <script src="/js/main.js"></script> -->
 </head>
 <body>
    <div class="일단전체감싸는div">
        <div class="modal-signup-container flex-col-justify-center">
            <div class="박스위문구 mb_7">
                <span class="font-24 altivo-bold ml-30 ls-clear">on track</span>
            </div>
            <div class="회원가입box flex-col-start-center-nowrap modal-signup">
                <span class="font-24 extrabold mb-20">반갑습니다 ;D</span>
                <span class="font-15 bold mb-30">지금 바로 On Track을 이용해보세요!</span>
<!--                <span class="altivo-regular ls-clear font-20 mb-30">step <span class="altivo-regular ls-clear font-20 mb-30 signup-step-num">3</span> of 4</span>-->

                <!-- step 3. 비밀번호 입력하여 로그인 -->
                <form action="/login" th:action th:object="${newUser}">
                <div class="flex-col-start-nowrap mb-30 signup-step-3"> <!--/*signup-step-3*/-->
                    <input type="hidden" name="newUserEmail" th:field="*{loginId}" th:value="${newUser.getUserEmail()}"><!--th:value="${newUser.getUserEmail()}"-->
                    <label for="first-login-password" class="font-12 bold mb-15 valid-pw-required">비밀번호<span class="valid-pw-required cRed bold hide">를 입력해주시기 바랍니다.</span></label>
                    <input type="password" id="first-login-password"  th:field="*{loginPw}" name="first-login-password" class="bg-5ec input-login-pw" placeholder="●●●●●●●●●"><!--/*input-signup*/-->

                </div>

                <!-- step 3. 로그인 버튼 -->
                <button type="submit" class="btn-signup-complete mt-14">로그인</button>
                </form>
                <div class="mt-30 mb-7">
                    <div class="status-sign not-yet"></div>
                    <div class="status-sign planning"></div>
                    <div class="status-sign ing"></div>
                    <div class="status-sign review"></div>
                    <div class="status-sign done"></div>
                </div>
            </div><!-- 회원가입box 끝 -->
        </div>
    </div>
 </body>
 </html>
 