<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="me.jhchoi.ontrack.mapper.UserMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ontrack_user(user_email, user_name, password, registeredAt)
        VALUES (#{userEmail}, #{userName}, #{password}, #{registeredAt})
    </insert>

    <select id="findByEmail" parameterType="String" resultType="OnTrackUser">
        SELECT id, user_email, user_name, password
        FROM ontrack_user
        WHERE user_email = #{loginId}
    </select>

    <select id="findByVerificationCode" parameterType="String" resultType="NewUser">
        SELECT user_email, user_name, verified
        FROM ontrack_user
        WHERE verification_code = #{vCode}
    </select>
</mapper>